<div class="card" style="height: 775px;">
  <div class="card-title card-title-colored">
    <h2 class="card-title-text">Experiment summary</h2>
  </div>
  <div class="card-supporting-text">
    <label>Configuration</label>
    <ul>
      <li>Equate I and L</li>
      <li>Filter duplicate peptides</li>
    </ul>
    <label>Data summary</label>
    <div>Datasets: 5</div>
    <div>Total peptides: 4782</div>
  </div>
</div>
