<table class='table parameter-table'>
  <thead>
    <tr>
      <th class="name">Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "parameter", collection: parameters %>
  </tbody>
</table>
