<div class="apidocs row">
  <div class="col-xs-9">
    <div class='page-header'>
      <h1><span class="initialism">POST</span> /api/v1/taxonomy
        <br>
        <small>Lorem ipsum.</small>
      </h1>
    </div>

    <p>
    </p>

    <h2 id="request">Request</h2>

    <h2 id="response">Response</h2>

    <h2 id="parameters">Parameters</h2>

    <h2 id="examples">Examples</h2>
  </div>
  <div class="col-xs-3">
    <%= render 'sidebar' %>
  </div>
</div>
