{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 1%"
        },
        "useBuiltIns": "entry",
        "debug": false
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": "commonjs",
            "targets": {
              "node": "current"
            },
            "debug": false,
            "plugins": [
              "syntax-dynamic-import",
              "@babel/plugin-proposal-object-rest-spread",
              [
                "transform-class-properties",
                {
                  "spec": true
                }
              ]
            ]
          }
        ]
      ]
    }
  },
  "plugins": [
    "syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ]
  ]
}