{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 1%"
        },
        "useBuiltIns": true,
        "debug": false
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs",
            "targets": {
              "node": "current"
            },
            "debug": false,
            "plugins": [
              "@babel/syntax-dynamic-import",
              "@babel/transform-object-rest-spread",
              [
                "transform-class-properties",
                {
                  "spec": true
                }
              ]
            ]
          }
        ]
      ]
    }
  },
  "plugins": [
    "@babel/syntax-dynamic-import",
    "@babel/transform-object-rest-spread",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ]
  ]
}