.bundle
db/*.sqlite3
log/*.log
tmp/**/*
tmp/*
!tmp/sessions
!tmp/pids
!tmp/cache
!tmp/sockets
doc/api
doc/app
*.swp
*~
~.DS_Store
*.log
.sass-cache/
public/assets
*.mwb.bak
backend/java/bin/**/*.class
coverage/
.idea
*.iml
# Ignore Byebug command history file.
.byebug_history
.DS_Store

