.bundle
db/*.sqlite3
log/*.log
tmp/**/*
tmp/*
!tmp/sessions
!tmp/pids
!tmp/cache
!tmp/sockets
doc/api
doc/app
*.swp
*~
~.DS_Store
*.log
.sass-cache/
public/assets
*.mwb.bak
backend/java/bin/**/*.class