.bundle
db/*.sqlite3
log/*.log
tmp/**/*
tmp/*
!tmp/sessions
!tmp/pids
!tmp/cache
!tmp/sockets
doc/api
doc/app
*.swp
*~
~.DS_Store
*.log
.sass-cache/
*.mwb.bak
backend/java/bin/**/*.class
coverage/
.idea
*.iml

/node_modules
/yarn-error.log

.byebug_history
/public/packs
/node_modules
