<h1><%= @organism.name %></h1>
<% if @aantal == 0 %>
	<span>No genomes were found for this organism.</span>
<% else %>
	<span>
		<%= pluralize(@aantal, "genome was", "genomes were") %>
		 found for this organism.
	</span>
	<ul class="genbank_files">
		<% @genbank_files.each do |genbank_file| %>
			<li><%= genbank_file.project_id %></li>
		<% end %>
	</ul>
<% end %>