<h1>Search for a single peptide</h1>
<div class="split">
<div class="split-left">
  <p>
    <%= render 'shared/single_search_intro' %>
  </p>
</div>
<div class="split-right">
  <h3>Try searching for a tryptic peptide</h3>
  <%= render 'shared/sequence_search' %>
  </div>
</div>