<h1>Search for a single protein</h1>
<div class="row">
<div class="col-xs-6">
  <p>
    <%= render 'shared/single_protein_search_intro' %>
  </p>
</div>
<div class="col-xs-6">
  <h3>Try searching for a protein</h3>
  <%= render 'shared/protein_search' %>
</div>
</div>
