<% content_for :javascripts do %>
  <%= javascript_pack_tag 'spa_single_search_app' %>
<% end %>

<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/unipept-web-components.css">
<% end %>

<div id="spa-app">
  <single-search></single-search>
</div>
