<h1>Search for a single tryptic peptide</h1>
<div class="row">
<div class="col-xs-6">
  <p>
    <%= render 'shared/single_search_intro' %>
  </p>
</div>
<div class="col-xs-6">
  <h3>Try searching for a tryptic peptide</h3>
  <%= render 'shared/sequence_search' %>
</div>
</div>
