<div class="apidocs casestudies row">
  <div class="col-xs-9">
    <h1 class='api-title'>Unipept
      <span class="initialism">CLI</span>
      Case Studies
    </h1>
    <p class='lead'>
      This page explores several uses of the Unipept command line tools.
    </p>
    <h2>Taxonomic analysis of a tryptic peptide</h2>
    <p>
      This case study describes how the Unipept command line tools can be used for the taxonomic analysis of a single tryptic peptide. All steps, from installation till the end result are covered. <a href='<%= api_clidocs_casestudy_tpa_path %>' class='card-link'>get started</a>
    </p>
  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
