<div class="apidocs casestudies row">
  <div class="col-xs-9">
    <h1 class='api-title'>Case study: Taxonomic analysis of a metaproteomics data set</h1>
    <p class='lead'>
      This case study describes how the Unipept command line tools can be used for the taxonomic analysis of a metaproteomics dataset.
    </p>

  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
