<div class="apidocs casestudies row">
  <div class="col-xs-9">
    <h1 class='api-title'>Unipept
      <span class="initialism">CLI</span>
      Case Studies
    </h1>
    <p class='lead'>
      This page explores several uses of the Unipept command line tools.
    </p>
    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text'>Taxonomic analysis of a tryptic peptide</h2>
      </div>
      <div class='card-supporting-text'>
        This case study describes how the Unipept command line tools can be used for the taxonomic analysis of a single tryptic peptide. All steps, from installation till the end result are covered.
        </div>
      <div class="card-actions card-border">
        <a href='<%= api_clidocs_casestudy_tpa_path %>' class='btn-text pull-right'>get started</a>
      </div>
    </div>
    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text'>Taxonomic analysis of a metaproteomics dataset</h2>
      </div>
      <div class='card-supporting-text'>
        This case study describes how the Unipept command line tools can be used for the taxonomic analysis of a metaproteomics dataset.
        </div>
      <div class="card-actions card-border">
        <a href='<%= api_clidocs_casestudy_mpa_path %>' class='btn-text pull-right'>get started</a>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
