<div class="apidocs row">
  <div class="col-xs-9">
    <h1 class='api-title'>Unipept <span class="initialism">CLI</span> documentation <small>v1</small></h1>
    <p class='lead'>
      This is an introduction.
    </p>
    <p>
      This is a paragraph.
    </p>
  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>