<div class="apidocs row">
  <div class="col-xs-9">
    <div class='page-header'>
      <h1>
        <samp>unipept pept2lca</samp><br>
        <small>Returns the taxonomic lowest common ancestor for a given tryptic peptide.</small>
      </h1>
    </div>
    <p>
      The <code>unipept pept2lca</code> command takes one or more tryptic peptides as input and returns the taxonomic lowest common ancestor (<span class="initialism">LCA</span>) for each of them as output. The <span class="initialism">LCA</span> is calculated from all taxa associated with the UniProt records that contain the given peptide. All this information is fetched by doing <a href='<%= api_apidocs_pept2lca_path %>' target='_blank'> <span class="initialism">API</span>-requests </a> to the Unipept server.
    </p>
    <ul>
      <li>input: stdin, args, file</li>
      <li>output: stdout, file</li>
      <li>format: json, xml, csv</li>
      <li>all</li>
      <li>equate</li>
      <li>select</li>
      <li>other options: host, help</li>
      <li>fasta support</li>
      <li>examples</li>
    </ul>
    <h2 id="input">Input</h2>
    <p></p>
    <h2 id="output">Output</h2>
    <p></p>
    <h2 id="parameters">Parameters</h2>
    <p></p>
    <h2 id="examples">Examples</h2>
    <p></p>
  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
