<div class="apidocs row">
  <div class="col-xs-9">
    <div class='page-header'>
      <h1 class='api-title'>
        <samp>unipept taxa2lca</samp><br>
        <small>Returns the taxonomic lowest common ancestor of a given list of taxon identifiers.</small>
      </h1>
    </div>
    <p>
      The <code>unipept taxa2lca</code> command takes one or more <span class="initialism">NCBI</span> taxon id's as input and returns the taxonomic lowest common ancestor (<span class="initialism">LCA</span>) of these taxa as output. All this information is fetched by doing <a href='<%= api_apidocs_taxa2lca_path %>' target='_blank'><span class="initialism">API</span>-requests</a> to the Unipept server.
    </p>
    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text' id='input'>Input</h2>
      </div>
      <div class='card-supporting-text'>
        <p>
          The <code>unipept taxa2lca</code> command expects <span class="initialism">NCBI</span> taxon id's as input. The source of this input can be command line arguments, a file, or <i>standard input</i>. If input is supplied using multiple sources at the same time, the order of priority as described above is used.
    </p>
        <h4>Command line arguments</h4>
        <p>
          If input is supplied using command line arguments, the taxon id's must be separated by spaces.
    </p>
        <h5>Example</h5>
        <pre>
<b>$</b> unipept taxa2lca 817 329854 1099853
taxon_id,taxon_name,taxon_rank
171549,Bacteroidales,order</pre>
        <h4>File input</h4>
        <p>
          Use the <a href='#param-input'><samp>--input</samp> parameter</a> to specify a file to use as input. If input is supplied using a file, a single taxon id per line is expected.
    </p>
        <h5>Example</h5>
        <pre>
<b>$</b> cat input.txt
817
329854
1099853
<b>$</b> unipept taxa2lca --input input.txt
taxon_id,taxon_name,taxon_rank
171549,Bacteroidales,order</pre>
        <h4>Standard input</h4>
        <p>
          If the command is run without arguments and no file is specified, <code>unipept taxa2lca</code> will read its input from <i>standard input</i>. When <i>standard input</i> is used, a single taxon id per line is expected.
    </p>
        <h5>Example</h5>
        <pre>
<b>$</b> cat input.txt
817
329854
1099853
<b>$</b> cat input | unipept taxa2lca
taxon_id,taxon_name,taxon_rank
171549,Bacteroidales,order</pre>
      </div>
    </div>
    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text' id='output'>Output</h2>
      </div>
      <div class='card-supporting-text'>
        <p>
          The <code>unipept taxa2lca</code> command outputs the taxonomic lowest common ancestor (<span class='initialism'>LCA</span>) for a given set of taxon id's. By default, the NCBI taxon id, taxon name and taxonomic rank of the <span class='initialism'>LCA</span> are returned. By using the <a href='#param-all'><samp>--all</samp> parameter</a>, this can be supplemented with the full taxonomic lineage of the <span class='initialism'>LCA</span>. Consult the <a href='<%= api_apidocs_taxa2lca_path %>#response' target='_blank'><span class="initialism">API</span> documentation</a> for a detailed list of output fields. A selection of output fields can be specified with the <a href='#param-select'><samp>--select</samp> parameter</a>. By default, output is generated in csv format. By using the <a href='#param-format'><samp>--format</samp> parameter</a>, the format can be changed into json or xml. The output can be written to a file or to <i>standard output</i>.
    </p>
        <h4>File output</h4>
        <p>
          Use the <a href='#param-input'><samp>--output</samp> parameter</a> to specify an output file. If the file aready exists, the output will be appended to the end of the file.
    </p>
        <pre>
<b>$</b> unipept taxa2lca --output output.txt 817 329854 1099853
<b>$</b> cat output.txt
taxon_id,taxon_name,taxon_rank
171549,Bacteroidales,order</pre>
        <h4>Standard output</h4>
        <p>
          If no output file is specified, <code>unipept taxa2lca</code> will write its output to <i>standard output</i>.
    </p>
        <h5>Example</h5>
        <pre>
<b>$</b> unipept taxa2lca 817 329854 1099853
taxon_id,taxon_name,taxon_rank
171549,Bacteroidales,order
<b>$</b> unipept taxa2lca 817 329854 1099853 > output.txt
<b>$</b> cat output.txt
taxon_id,taxon_name,taxon_rank
171549,Bacteroidales,order</pre>
      </div>
    </div>
    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text' id='options'>Command-line options</h2>
      </div>
      <div class='card-supporting-text'>
        <h3><samp>--input</samp> / <samp>-i</samp> <small>Specify an input file</small></h3>
        <p>
          All Unipept <span class='initialism'>CLI</span> commands can process input from 3 sources: command line arguments, a file, or <i>standard input</i>. The optional <code>--input</code> option allows you to specify an input file. The file should contain a single peptide per line.
    </p>
        <h5>Example</h5>
        <pre>
<b>$</b> cat input.txt
817
329854
1099853
<b>$</b> unipept taxa2lca <b>--input</b> input.txt
taxon_id,taxon_name,taxon_rank
171549,Bacteroidales,order</pre>
        <h3 id='param-output'><samp>--output</samp> / <samp>-o</samp> <small>Specify an output file</small></h3>
        <p>
          By default, the unipept commands write their output to <i>standard output</i>. Using the optional <code>--output</code> option allows you to specify a file to write the output to. If the file already exists, the output will be appended; if it doesn't, a new file will be created.
    </p>
        <h5>Example</h5>
        <pre>
<b>$</b> unipept taxa2lca <b>--output</b> output.txt 817 329854 1099853
<b>$</b> cat output.txt
taxon_id,taxon_name,taxon_rank
171549,Bacteroidales,order</pre>
        <h3 id='param-input'><samp>--select</samp> / <samp>-s</samp> <small>Specify the output fields</small></h3>
        <p>
          By default, the Unipept <span class='initialism'>CLI</span> commands output all information fields received from the Unipept server. The <code>--select</code> option allows you to control which fields are returned. A list of fields can be specified by a comma-separated list, or by using multiple <code>--select</code> options. A <samp>*</samp> can be used as a wildcard for field names. For example, <code>--select peptide,taxon*</code> will return the peptide field and all fields starting with <i>taxon</i>.
    </p>
        <h5>Example</h5>
        <pre>
<b>$</b> unipept taxa2lca <b>--select</b> taxon_id,taxon_name 817 329854 1099853
taxon_id,taxon_name
171549,Bacteroidales
<b>$</b> unipept taxa2lca <b>--select</b> taxon_id <b>--select</b> *rank 817 329854 1099853
taxon_id,taxon_rank
171549,order</pre>
        <h3 id='param-format'><samp>--format</samp> / <samp>-f</samp> <small>Specify the output format</small></h3>
        <p>
          By default, the Unipept <span class='initialism'>CLI</span> commands return their output in <samp>csv</samp> format. The <code>--format</code> option allows you to select another format. Supported formats are <samp>csv</samp>, <samp>json</samp>, and <samp>xml</samp>.
    </p>
        <h5>Example</h5>
        <pre>
<b>$</b> unipept taxa2lca <b>--format</b> json 817 329854 1099853
[{"taxon_id":171549,"taxon_name":"Bacteroidales","taxon_rank":"order"}]
<b>$</b> unipept taxa2lca <b>--format</b> xml 817 329854 1099853
&lt;results&gt;&lt;result&gt;&lt;taxon_id&gt;171549&lt;/taxon_id&gt;&lt;taxon_name&gt;Bacteroidales&lt;/taxon_name&gt;&lt;taxon_rank&gt;order&lt;/taxon_rank&gt;&lt;/result&gt;&lt;/results&gt;</pre>
        <h3 id='param-all'><samp>--all</samp> / <samp>-a</samp> <small>Request additional information</small></h3>
        <p>
          By default, the Unipept <span class='initialism'>CLI</span> commands only request basic information from the Unipept server. By using the <code>--all</code> flag, you can request additional information fields such as the lineage of the returned taxa. You can use the <code>--select</code> option to select which fields are included in the output.
    </p>
        <div class="apidocs-callout apidocs-callout-warning">
          <h4>Performance penalty</h4>
          <p>Setting <code>--all</code> has a performance penalty inferred from additional database queries. Do not use this option unless the extra information fields are strictly needed.</p>
        </div>
        <h5>Example</h5>
        <pre>
<b>$</b> unipept taxa2lca <b>--all</b> --select taxon_id,phylum* 817 329854 1099853
taxon_id,phylum_id,phylum_name
171549,976,Bacteroidetes</pre>
        <h3><samp>--help</samp> / <samp>-h</samp> <small>Display help</small></h3>
        <p>
          This flag displays the help.
    </p>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
