<div class="apidocs row">
  <div class="col-xs-9">
    <div class='page-header'>
      <h1>
        <samp>uniprot</samp><br>
        <small>Fetches UniProt records based on their accession numbers.</small>
      </h1>
    </div>
    <p>
      The <code>uniprot</code> command takes one or more UniProt accession numbers and returns the corresponding UniProt record for each of the accession numbers as output. This information is fetched by using the UniProt webservice.
    </p>
    <h2 id="input">Input</h2>
    <p>
      The <code>uniprot</code> command expects UniProt accession numbers as input. The source of this input can be command line arguments or <i>standard input</i>. If input is supplied using multiple sources at the same time, the order of priority as described above is used.
    </p>
    <h4>Command line arguments</h4>
    <p>
      If input is supplied using command line arguments, the accession numbers must be separated by spaces.
    </p>
    <h5>Example</h5>
    <pre>
<b>$</b> uniprot C6JD41
MTLVPLGDRVVLKQVEAEETTKSGIVLPGQAQEKPQQAEVVAVGPGGVVDGKEVKMEVAVGDKVIYSKYSGTEVKMDGTEYIIVKQNDILAIVK</pre>
    <h4>Standard input</h4>
    <p>
      If the command is run without arguments and no file is specified, <code>uniprot</code> will read its input from <i>standard input</i>. When <i>standard input</i> is used, a single UniProt accession number per line is expected.
    </p>
    <pre>
<b>$</b> cat input.txt
C6JD41
<b>$</b> cat input | uniprot
MTLVPLGDRVVLKQVEAEETTKSGIVLPGQAQEKPQQAEVVAVGPGGVVDGKEVKMEVAVGDKVIYSKYSGTEVKMDGTEYIIVKQNDILAIVK</pre>
    <h2 id="output">Output</h2>
    <p>
      The <code>uniprot</code> command outputs the UniProt record for each of the input accession numbers. By default, only the sequences are returned. By using the <a href='#param-format'><samp>--format</samp> parameter</a>, this can be changed to fasta, txt, xml, rdf or gff. All output is written to <i>standard output</i>.
    </p>
    <h2 id="options">Command-line options</h2>
    <h3 id='#param-format'><samp>--format</samp> / <samp>-f</samp> <small>Specify the output format</small></h3>
    <p>
      By default, the <code>uniprot</code> command only returns the sequences of the UniProt record. The <code>--format</code> option allows you to select another format. Supported formats are <samp>sequence</samp>, <samp>fasta</samp>, <samp>txt</samp>, <samp>xml</samp>, <samp>rdf</samp>, and <samp>gff</samp>.
    </p>
    <h5>Example</h5>
    <pre>
<b>$</b> uniprot <b>--format</b> fasta C6JD41
>tr|C6JD41|C6JD41_9FIRM 10 kDa chaperonin OS=Ruminococcus sp. 5_1_39BFAA GN=groS PE=3 SV=1
MTLVPLGDRVVLKQVEAEETTKSGIVLPGQAQEKPQQAEVVAVGPGGVVDGKEVKMEVAV
GDKVIYSKYSGTEVKMDGTEYIIVKQNDILAIVK</pre>
    <h3><samp>--help</samp> / <samp>-h</samp> <small>Display help</small></h3>
    <p>
      This flag displays the help.
    </p>
  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
