<div class="apidocs row">
  <div class="col-xs-9">
    <h1 class="api-title">Unipept Desktop - Single Assay Analysis</h1>
    <p class="lead">
      The single assay analysis module in the Unipept Desktop Application provides an in-depth taxonomic and functional
      analysis of a single metaproteomics sample.
    </p>
    <p>
      This document provides information about the Single Assay Analysis module within the Unipept Desktop application.
    </p>
  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
