<% content_for :javascripts do %>
  <%= javascript_pack_tag 'd3' %>
  <%= javascript_pack_tag 'mpa_app' %>
<% end %>

<div id="mpa-app">
  <mpa></mpa>
</div>

<%= render 'shared/multi_search_intro' %>

<form id='send_data_form' action='<%= :mpa %>' method='post'>
  <input id='data_input' type='hidden' name='data' value='' />
</form>
