<% content_for :javascripts do %>
  <%= javascript_pack_tag 'mpa_app' %>
<% end %>

<% content_for :stylesheets do %>
  <!-- This solution is temporary until the CSS-files for this repository have been restructured. -->
  <link rel="stylesheet" href="unipept-web-components.css">
<% end %>

<div id="mpa-app">
  <app></app>
</div>

<form id='send_data_form' action='<%= :mpa %>' method='post'>
  <input id='data_input' type='hidden' name='data' value='' />
</form>
