<% content_for :javascripts do %>
  <%= javascript_pack_tag 'mpa_app' %>
<% end %>

<% content_for :stylesheets do %>
  <!-- This solution is temporary until the CSS-files for this repository have been restructured. -->
  <link rel="stylesheet" href="unipept-web-components.css">
  <style>
    .v-progress-circular__overlay {
        transition: none !important;
    }

    .growing-list {
        min-height: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .v-divider {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .select-dataset-radio .v-input--radio-group__input {
        margin-right: -16px;
    }
  </style>
<% end %>

<div id="mpa-app">
  <app></app>
</div>

<form id='send_data_form' action='<%= :mpa %>' method='post'>
  <input id='data_input' type='hidden' name='data' value='' />
</form>
