<div class="row">
  <div class="col-xs-6">
    <%= render 'shared/sequence_multi_search' %>
  </div>
  <div class="col-xs-6">
    <%= render 'shared/load_datasets_form' %>
  </div>
</div>
<%= render 'shared/multi_search_intro' %>

<script type="text/javascript">
  $(document).ready(initDatasets);
</script>
