<h1>Analyze a list of peptides</h1>

<div class="split">

  <div class="split-left">
    <%= render 'shared/multi_search_intro' %>
    <%= render 'shared/load_datasets_form' %>
  </div>

  <div class="split-right">
    <h3>Paste your peptides in the text area below</h3>
    <%= render 'shared/sequence_multi_search' %>
  </div>

  <div class="visualClear"></div>
</div>


<script type="text/javascript">
  $(document).ready(initDatasets);
</script>
