<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <%= render 'pride_progress' %>
  </div>
</div>
<%= render 'shared/multi_search_intro' %>
<script type="text/javascript">
  $(document).ready(initPreload("<%= @type %>", <%= @id %>));
</script>
