<% content_for :javascripts do %>
  <%= javascript_pack_tag 'd3' %>
  <%= javascript_pack_tag 'mga_app' %>
<% end %>

<% content_for :stylesheets do %>
<% end %>

<div id="mga-app">
  <mga></mga>
</div>


