/* (do not remove this :) */
/* (not this either :) */

/***************************
All changes should go in portal/screen css.
***************************/

/* This was originally in portal.css but didn't seem to be loading. It has been modified below. */

/* ==== tables === */
table {
	margin: 0;
	padding: 0;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
table tr.unity td, table tr.unityheader td, table tr.tabelheader td {
	text-align: left;
	border-top: 1px solid #369;
	padding: 5px 5px 7px 8px;
	background-color: #fff;
	vertical-align: top;
}
table tr.unity td.center {
	text-align: center;
}
table tr.tabelheader th,
table tr.tabelheader td {
	border-top: 0;
	background-color: #369;
	color: #fff;
	font-weight: bold;
	border-left: 1px solid #fff;
}
table tr.subheader td {
	font-weight: bold;
	background-color: #F2F5FE;
	padding-top: 7px;
	padding-bottom: 10px;
	text-align: left;
}
table tr.legende td {
	border-top: 0;
	color: #369;
	background-color: #FFF;
	font-size: 0.85em;
	text-align: left;
}
table tr.unityheader td {
	padding-bottom: 4px;
}
table tr.unity td {
	border-top: 0;
}
table tr.unity td.unity-subheader {
	font-style: italic;
}
table tr.unity td.unity-indent {
	padding-left: 16px;
}
table tr.bottom td {
	border-bottom: 1px solid #369;
	padding-bottom: 10px;
}
table th {
	text-align: center;
}
