/*
-------------------------------------------------------
Universiteit Gent - Stylesheet for UGent portal
== print.css ==
[Print stylesheet for UGent portal]
Author: Universiteit Gent, Namahn.com
Layout and css by namahn.com (inspired by layout vanlooveren-gobert.be), copyright 2005
Version: 10 August 2005
-------------------------------------------------------
*/

body, html {
	color: #000;
	background: #fff;
	font-family: "times new roman", times, serif;
}

/* hide the following divs */
div#utility, div#search, div#login, div#login-act, div#breadcrumb,
div#mainnav, div#leftnav, div.facet, div.top, div#related, div.author {
	display: none;
}

/* deeper level pages */
div#logo {
	position: absolute;
	left: 0;
	top: 0;
	height: 60px;
	width: 100%;
	background: transparent url("../images/balkjeprint.gif") repeat top left;
}
div#siteid {
	background: 0 none;
	position: absolute;
	right: 0;
	top: 38px;
	height: 25px;
	width: 100%;
	text-align: right;
	z-index: 100;
}
div#siteid img {
	display: none;
}
div#siteid a.text {
	position: static;
	color: #333;
	font-size: 1.1em;
	padding-right: 5px;
}
div#content, div#contentsmall {
	margin: 80px 0 0;
	padding: 0;
	vertical-align: top;
}
div#footer, div#footersmall {
	margin: 20px 0;
	padding: 0;
	font-family: verdana,arial,helvetica,sans-serif;
}
body {
	color: #000;
	background: #FFF;
}
h1 {
	font-family: Verdana, Arial, Sans-Serif;
	color: #000;
	font-size: 16pt;
}
h2 {
	font-family: Verdana, Arial, Sans-Serif;
	color: #000;
	font-size: 14pt;
}
h3, p {
	color: #000;
	font-size: 12pt;
}
