/* GENERAL ELEMENTS */

/* Set height of html and body to max for the sticky footer */
html, 
body {
	height: 100%;
}
body {
	background: #E9EBF0;
	font-size: 70%;
	font-family: Helvetica,arial,freesans,clean,sans-serif;
	line-height: 1.4em;
}

/* set font for headings */
h1 {
	font-size: 1.6em;
	color: #369;
	line-height: 1.2em;
	margin-top: 0;
	margin-bottom: 0.6em;
	font-weight: bold;
}
h2 {
	font-size: 1.4em;
	margin-bottom: 0.4em;
	margin-top: 0.6em;
	font-weight: normal;
	color: #0870A1;
	padding-bottom:0.3em;
	padding-top: 0.5em;
	border-bottom: 1px solid #CCC;
}
h3 {
	font-size: 1.1em;
	color: #333;
	margin-bottom: 0.3em;
	margin-top: 0.5em;
}
h4,h5,h6 {
	font-size: 1em
}

p {
    padding: 0.5em 0 0.5em 0;
}

/* list lay-outs */
ul {
	list-style-type: square;
}
ol {
	list-style-type: decimal;
}

pre {
	font-family: "Courier New", Courier, mono;
	background-color: #ECEFF8;
	border: 1px solid #ccc;
	padding: 5px;
	overflow: auto;
	width: 95%;
}

/* Default link styles */
a:link {
	color: #369;
	text-decoration: none;
}
a:visited {
	color: #369;
	text-decoration: none;
}
#content a:link {
	color: #369;
	text-decoration: underline;
}
#content a:visited {
	color: #369;
	text-decoration: underline;
}
a:hover, 
#content a:hover {
	color: #69C;
}
a:active, 
#content a:active {
	color: #69C;
}
a img {
	border: none !important;
}

/* Some basic forms */
form fieldset {
	padding: 1em;
	border: 1px solid #DCDFE4;
	margin: 1em 0;
}
form legend {
	font-weight: bold;
	font-size: 1.1em;
}
input, 
textarea {
	font-size: 8pt;
	color: black;
	border: 1px solid black;
	background-color: white;
}
checkbox, 
select, 
option, 
radio {
	font-size: 8pt;
	color: black;
}

/* tables */
table {
	margin: 0;
	padding: 0;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
table tr td {
	text-align: left;
	border-top: 1px solid #369;
	padding: 5px 5px 7px 8px;
	background-color: #fff;
	vertical-align: top;
}
table tr th {
	text-align: left;
	padding: 5px 5px 7px 8px;
	background-color: #fff;
	vertical-align: top;
}
table tr td.center {
	text-align: center;
}
table tr.tabelheader th,
table th.tabelheader,
table tr.tabelheader td {
	border-top: 0;
	background-color: #369;
	color: #fff;
	font-weight: bold;
	border-left: 1px solid #fff;
}
table tr.subheader td {
	font-weight: bold;
	background-color: #EDEFF1;
	padding-top: 7px;
	padding-bottom: 10px;
	text-align: left;
}
table tr.legende td {
	border-top: 0;
	color: #369;
	background-color: #FFF;
	font-size: 0.85em;
	text-align: left;
}
table tr.unityheader td {
	padding-bottom: 4px;
}
table tr.unity td {
	border-top: 0;
}
table tr td.unity-subheader {
	font-style: italic;
}
table tr td.unity-indent {
	padding-left: 16px;
}
table tr.bottom td {
	border-bottom: 1px solid #369;
	padding-bottom: 10px;
}
table tr.selected td {
	background-color: #fdb812;
}
table tr.deleted td {
	background-color: #cccccc;
}

/* html5 */
header, footer{
	display: block;
}

/* PAGE ELEMENTS */
/* Container is the wrapper div */
#container {
	background: #FFF url(../images/containerbg2.png) repeat-y;
	width: 972px;
	padding: 0 6px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
}

/* top bar */
#topbar {
	width: 100%;
	padding: 0 0 5px;
}
#topbar ul {
	list-style: none;
	float: left;
}
#topbar ul li {
	border-right: 1px solid #88a0b8;
	padding: 0 5px;
	font-size: 1.1em;
}
#topbar ul li.last-child {
	border: none;
}
#topbar li.selected a {
	color: #AAA;
	text-decoration: none;
}
#topbar a.advanced {
	padding-right: 18px;
}
#user {
	float: right;
	padding: 5px 12px 0 0;
	width: 60%;
}
#user ul {
	float: right;
}
#user li.member {
    background: url("../images/ingelogd.gif") no-repeat left center ;
    padding-left: 15px;
}
#user ul li, 
#language ul li {
	float: left;
}
#language {
	float: left;
	padding: 5px 0 0 12px;
	width: 25%;
}

/* header */
#header {
	background: url(../images/sprieten_s.gif) no-repeat 0 0;
	height: 48px;
}
#headerleft {
	float: left;
	padding: 0 0 0 50px;
	width: 30%;
}
#headerleft h1 {
    position: absolute;
    top: 15px;
    left: 59px;
}
#headerleft h1 a {
	overflow: hidden;
	display: block;
	width: auto;
}
#headerleft h2 {
    position: absolute;
    top: 17px;
    left: 250px;
    border: none;
    font-weight: bold;
    width: 300px;
}
#headerleft h2 a {
	text-decoration: none;
	color: white;
}
#headerright {
	float: right;
	width: 70%;
	height: 31px;
}
#utility {
	padding-top: 5px;
	float: right;
	width: 242px;
}
#utility ul {
	padding: 0.2em 1em 0 1em;
	float: right;
	list-style: none;
}
#utility ul li {
	float: left;
	padding: 0 0.5em;
	border-right: 1px solid #88A0B8;
	font-size: 1.1em;
}
#utility ul li.last-child {
	border: none;
	padding-right: 0;
}
#subbar{	
	clear:both;
	float: none;
    background: #E9E9E9;
	margin-left: 200px;
    margin-bottom: 10px;
	overflow: hidden;
	height: 24px;
    font-size: 110%;
    line-height:1.2;
}
#subbar ul{
    list-style:none outside none;
    padding-top:4px;
    padding-left: 15px;
}
#subbar ul li {
    float:left;
    font-size:1.1em;
    margin-right: 1.7em;
    font-weight: bold;
}

/* breadcrumb */
#breadcrumb {
	line-height: 1.2;
	width: 755px;
	padding: 0 0 16px 205px;
	font-size: 1.1em;
}

/* main */
#main {
	padding: 0 12px 36px;
}

/* left navigation */
/*#navigationhome,
#navigation {
	float: left;
	width: 180px;
	padding-bottom: 2em;
}
#mainnav {
	margin-bottom: 1.2em;
}
#mainnav ul {
	list-style: none;
}
#mainnav ul li a:link,
#mainnav ul li a:visited {
	display: block;
	background: #DCDFE4 url(../images/plus.gif) no-repeat 7px 10px;
	font-weight: 700;
	padding: 5px 20px;
	border-bottom: 1px solid white;
	text-decoration: none;
	font-size: 1.1em;
	letter-spacing: -0.05em;
}
#mainnav ul li.open {
	border: 1px solid #fdb812;
}
#mainnav ul li a:hover,
#mainnav ul li a:active {
	background: #EDEFF1 url(../images/plus.gif) no-repeat 7px 10px;
}
#mainnav ul li.open a:link,
#mainnav ul li.open a:visited {
	background: #DCDFE4 url(../images/min_blue.gif) no-repeat 7px 10px;
}
#mainnav ul li.open a:hover,
#mainnav ul li.open a:active {
	color: #369;
}
#mainnav ul li.active a:link,
#mainnav ul li.active a:visited {
	background-color: #FDB812;
	color: #fff;
}
#mainnav ul li.open li.open {
	border: none;
}
#mainnav ul li.open li a:link,
#mainnav ul li.open li a:visited {
	background: #F5F5F5 url(../images/square.gif) no-repeat 7px 8px;
	font-weight: 300;
	padding: 3px 20px;
	margin: 0;
	color: #369;
	border: none;
	border-bottom: 1px solid #DCDFE4;
}
#mainnav ul li.open li a:hover,
#mainnav ul li.open li a:active {
	color: #69C;
}
#mainnav ul li.open li.active a:link,
#mainnav ul li.open li.active a:visited {
	background: #FDB812 url(../images/min.gif) no-repeat 7px 10px;
	border: none;
	color: #FFF;
	font-weight: 700;
}
#mainnav ul li.open li.open a:link,
#mainnav ul li.open li.open a:visited {
	background: #F5F5F5 url(../images/min_blue.gif) no-repeat 7px 8px;
}
#mainnav ul li.open li.active a:link,
#mainnav ul li.open li.active a:visited {
	background: #FDB812 url(../images/min.gif) no-repeat 7px 8px;
	border: none;
	color: #FFF;
}
#mainnav ul li.open li a.haschild:link,
#mainnav ul li.open li a.haschild:visited {
	background: #f5f5f5 url(../images/plus.gif) no-repeat 7px 8px;
	color: #369;
}
#mainnav li.open ul {
	background: #F5F5F5;
}
#mainnav ul li.open li.open li a:link,
#mainnav ul li.open li.open li a:visited {
	padding: 3px 20px 3px 40px;
	background: #F5F5F5 url(../images/chevron-dubbel.gif) no-repeat 27px 9px;
	border: none;
	color: #369;
	font-weight: normal;
}
#mainnav ul li.open li.open li a:hover,
#mainnav ul li.open li.open li a:active {
	color: #69C;
}
#mainnav ul li.open li.open li.active a:link,
#mainnav ul li.open li.open li.active a:visited {
	background: #FDB812 url(../images/chevron-dubbel-wit.gif) no-repeat 7px 9px;
	margin: 0 0 0 20px;
	padding-left: 20px;
	color: white;
	font-weight: 700;
}
#mainnav ul li.open ul li.last-child a {
	border: none;
}*/

/* content */
#content {
	float: left;
	width: 564px;
	overflow: hidden;
	padding-top: 0;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 4em;
	font-size: 1.1em;
}
div.small {
	width: 564px !important;
}
div.normal {
	width: 742px !important;
}
div.wide {
	width: 920px !important;
}
#spotlight {
	border: 1px solid #CCC;
	padding: 5px 12px 2px;
	background: #FFF;
	margin: 0 0 2.0em;
}
.sectiontitle h2 {
	float: left;
	border: 0;
	margin: 0.1em 0 0;
}
.sectiontitle p {
	padding: 0;
	float: right;
	margin: 0.6em 0 0;
}
.sectiontitle {
	border-bottom: 1px solid #CCC;
	margin: 0 0 0.5em;
}
.columns .column {
	float: left;
}
.columns .spacing-left {
	margin-left: 12px;
	position: relative;
	top: -7px;
}

/* Footer */
#footerpush {
	height: 64px;
}
#footer-wrap {
	width: 100%;
	height: 64px;
	position: relative;
	margin-top: -64px;
}
#footer {
	background: #104b7d url(../images/footerbg.png) repeat-y;
	width: 972px;
	padding: 0 6px;
	height: 64px;
	margin: 0 auto;
}
#footer ul#copyright .byline_author {
	color: #FFFFFF;
}
#footer ul {
	padding: 1em 0 0 0;
	list-style: none;
}
#footer ul li {
	float: left;
	font-size: 1.1em;
	padding: 0 5px;
	padding-bottom: 3px;
}
#footer ul#copyright {
	float: left;
	color: #6086a7;
	padding-left: 1em;
}
#footer ul#copyright li {
	clear: left;
}
#footer ul#copyright a {
	color: #6086a7;
}
#footer ul#copyright a:hover {
	color: #FFF;
}
#footer a:link,
#footer a:visited {
	color: #DAE8F7;
}
#footer a:hover,
#footer a:active {
	color: #FFF;
}
#version{
	padding:0;
	margin:0;
	line-height:0;
	float: right;
	padding-right: 5px;
	padding-top: 50px;
	color: #6086A7;
}

/* GENERAL PURPOSE STYLES */    
a.advanced {
	background: transparent url(../images/sleutel.gif) no-repeat right 50%;
	padding-right: 25px;
	line-height: normal;
	padding-top: 0;
	height: auto !important;
	display: inline !important;
}

.swapUnderline a:link, 
.swapUnderline a:visited {
	text-decoration: none !important;
}
.swapUnderline a:hover, 
.swapUnderline a:active {
	text-decoration: underline !important;
}

/* Clearfix (@see http://www.positioniseverything.net/easyclearing.html) */
.clearfix:after, .section:after, #footer:after, #topbar:after, #topbar ul:after, #header:after, #main:after, .columns:after, .facet:after, .facet ul:after, .clickthrough:after, div.newsarticle:after, .sectiontitle:after, ul.gts:after, ul.gts li:after, #utility ul:after, #headerright:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Helper element to work with CSS floats */
.visualClear {
	display: block;
	clear: both;
}

.klik {
	cursor: pointer;
}

/* message styles */
div.error {
	background: #FBE3E4;
	color: #8A1F11;
	border-top: 2px solid #FBC2C4;
	border-bottom: 2px solid #FBC2C4;
	text-align: center;
	margin: 10px auto;
	padding: 5px 20px;
}
div.notice {
	background: #FFF6BF;
	color: #514721;
	border-top: 2px solid #FFD324;
	border-bottom: 2px solid #FFD324;
	text-align: center;
	margin: 10px auto;
	padding: 5px 20px;
}
div.info {
	background: #D5EDF8;
	color: #205791;
	border-top: 2px solid #92CAE4;
	border-bottom: 2px solid #92CAE4;
	text-align: center;
	margin: 10px auto;
	padding: 5px 20px;
}
div.success {
	background: #E6EFC2;
	color: #264409;
	border-top: 2px solid #C6D880;
	border-bottom: 2px solid #C6D880;
	text-align: center;
	margin: 10px auto;
	padding: 5px 20px;
}

/* PAGE SPECIFIC STYLES */

/* multisearch form */
textarea#qs{
	margin-right: 5px;
	margin-top: 5px;
}
#more_options_form fieldset{
	margin: 0px;
}
div#search_button{
	clear:both;
	text-align:center;
}
#search_elements{
	float:left;
}

/* single peptide page */
#lineageTree{
	height: 500px;
}
#lineageTree .node{
	width: 100px !important;
	padding-top: 0px !important;
}
/* table colors */
#sequence_table{
	overflow: auto;
	max-height: 500px;
}
.c0{background: #f9f0ab;}
.c1{background: #e8e596;}
.c2{background: #f0e2a3;}
.c3{background: #ede487;}
.c4{background: #efd580;}
.c5{background: #f1cb82;}
.c6{background: #f1c298;}
.c7{background: #e8b598;}
.c8{background: #d5dda1;}
.c9{background: #c9d2b5;}
.c10{background: #aec1ad;}
.c11{background: #a7b8a8;}
.c12{background: #b49a3d;}
.c13{background: #b28647;}
.c14{background: #a97d32;}
.c15{background: #b68334;}
.c16{background: #d6a680;}
.c17{background: #dfad70;}
.c18{background: #a2765d;}
.c19{background: #9f6652;}
.c20{background: #b9763f;}
.c21{background: #bf6e5d;}
.c22{background: #af643c;}
.c23{background: #9b4c3f;}
.c24{background: #72659d;}
.c25{background: #8a6e9e;}
.c26{background: #8f5c85;}
.c27{background: #934b8b;}
.c28{background: #9d4e87;}
.c29{background: #92538c;}

/* multi peptide page */
#sunburst svg{
    margin: 0 auto;
    display: block;
}
#treeMap{
	background-color: #DCDFE4;
	width: 100%;
	height: 600px;
}
#treeMap .node {
	color: #fff;
	font-size: 9px;
	overflow: hidden;
	cursor: pointer;
	text-align: center;
	font-family: "Lucida Grande", Verdana;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#multisearch_list ul{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}	
.tip{
	background-color: #ffffff;
	padding: 2px;
}
.tip-title{
	text-align:center;
}

/*jstree*/
#jstree{
	width: 392px;
	min-height: 10px;
	float: left;
}
.jstree-default.jstree-focused {
	background: #FFF !important;
}
#jstree_data{
	width: 346px;
	float: left;
	background: #BEEBFF;
	border: 1px solid #99DEFD;
	padding-left: 2px;
}
#jstree_data h3{
	margin-bottom: 5px;
}
#jstree_data h4{
	margin: 8px 5px 0px 5px;
}
#jstree ul{
	padding-left: 0px;
}
#jstree a{
	color: #000000 !important;
	text-decoration: none !important;
}
#jstree_search{
	width: 350px;
}

/* tabs (from github) */
.subnav-bar {
    margin: 10px 0;
    border-bottom: 1px solid #DDD;
}
.subnav-bar ul.subnav {
    font-size: 14px;
    padding: 0px !important;
}
.subnav-bar ul.subnav li {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}
.subnav-bar ul.subnav li:first-child a.selected {
    padding-left: 12px;
}
.subnav-bar ul.subnav li:first-child a {
    padding-left: 2px;
}
.subnav-bar ul.subnav li a.selected {
    color: #333 !important;
    font-weight: bold;
    border-left: 1px solid #DDD;
    border-top: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: white;
}
.subnav-bar ul.subnav li a {
    color: #666 !important;
    text-decoration: none !important;
    padding: 8px 12px;
    display: inline-block;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    margin-bottom: -1px;
}
h2.ghead{
    margin: 1em 0;
    font-weight: bold;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: 13px Helvetica,arial,freesans,clean,sans-serif;
    line-height: 1.4;
    color: #333;
}
h2.ghead::after {
    content: ".";
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
span.dir{
    font-size: 12px;
    font-weight: normal;
    color: #555;
    line-height: 100%;
    float: right;
}
