@use 'vuetify/settings' with (
  $navigation-drawer-border-width: 0px,
  $card-text-font-size: 16px,
  $card-title-font-size: 14px,
  $card-title-font-weight: 500,
  $card-title-letter-spacing: 1.25px,
  $switch-inset-track-width: 44px,
  $switch-inset-track-height: 24px,
  $switch-inset-thumb-height: 20px,
  $switch-inset-thumb-width: 20px,
  $switch-track-opacity: 0.32
);
