@font-face {
    font-family: "unipept-icons";
    src: url("../fonts/unipept-icons/unipept-icons.ttf?7f54b6b8bf181fc9b51d937ddad43b04") format("truetype"),
url("../fonts/unipept-icons/unipept-icons.woff?7f54b6b8bf181fc9b51d937ddad43b04") format("woff"),
url("../fonts/unipept-icons/unipept-icons.woff2?7f54b6b8bf181fc9b51d937ddad43b04") format("woff2");
}

i[class^="unipept-icon-"]:before, i[class*=" unipept-icon-"]:before {
    font-family: unipept-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.unipept-icon-file-lightning-outline:before {
    content: "\e800";
}
.unipept-icon-test-tube-multiple:before {
    content: "\e801";
}
.unipept-icon-file-lightning-outline-check:before {
    content: "\e802";
}
