<div class="row search-info">
  <div class="col-xs-4 info-step">
    <h2>Enter a peptide list</h2>
    <p>
      Paste a list of peptides from your metaproteomics experiment in the search box. Each line should contain a single peptide.
    </p>
  </div>
  <div class="col-xs-4 info-step">
    <h2>Click search</h2>
    <p>
      Review the search settings for peptide deduplication, advanced missed cleavage handling and equating isoleucine and leucine before clicking search.
    </p>
  </div>
  <div class="col-xs-4 info-step">
    <h2>Gain insight</h2>
    <p>
      For each of the peptides, the lowest common ancestor (LCA) will be calculated, aggregated and visualised on the result page, giving you insight in the taxonomic diversity of your sample.
    </p>
  </div>
</div>
