<p>
  Multi-peptide analysis helps you analyze lists of tryptic peptides, e.g. extracted from an environmental sample using shotgun tandem mass spectrometric methods. You can submit a list of peptides of which the lowest common ancestors (LCA) will be calculated. These LCAs will be bundled and displayed in an interactive treemap giving you insight into the biodiversity of your sample.
</p>
<p>
  Advanced options lets you filter duplicate peptides, equate isoleucine and leucine or export the results to an Microsoft Excel compatible file. If  advanced missed cleavage handling is left unchecked, Unipept will perform an in silico digest on the list of peptides. The resulting subpeptides will be handled individually. When the box is checked, the results of subpeptides will be combined. Enabling advanced missed cleavage handling has a serious performance impact!
</p>
<p>
  Unipept has some built-in datasets to help you test drive the application. Click a load button next to one of the datasets to automatically fill the form with test data.
</p>
