<%= form_tag(:protein_acc_search, :method => "get", :class => "form-inline") do %>
    <%= search_field_tag(:id, "", :placeholder => "UniProtKB accession nr", :class => "form-control") %>
    <%= button_tag(raw("<span class='glyphicon glyphicon-search grow'></span> Search"), :type => "submit", :class => "btn btn-primary btn-animate") %>
<% end %>
