<div id='save-as-modal' class='modal fade'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
                <h3>Right click the image to save to disk</h3>
            </div>
            <div class='modal-body'></div>
            <div class="modal-footer">If you use this figure in a publication, please cite: <br/> Mesuere et al. (2012) J. Proteome Res. <a href="http://dx.doi.org/10.1021/pr300576s" target="_blank">doi:10.1021/pr300576s</a></div>
        </div>
    </div>
</div>