<div class='card'>
  <div class='card-title card-title-colored'>
    <h2 class='card-title-text'>Metaproteomics Analysis</h2>
  </div>
  <div class='card-supporting-text'>
    <%= form_tag(:mpa, :method => "post") do %>
      <%= render "shared/sequence_multi_search_form" %>
      <div id="search_button" class='search-buttons-centered'>
        <%= button_tag(raw("<span class='glyphicon glyphicon-search grow'></span> Search"), :type => "submit", :class => "btn btn-primary btn-animate", :id =>"search-multi-form", :"data-loading-text" => "Loading...") %>
        <%= button_tag(raw("<span class='glyphicon glyphicon-repeat spin'></span> Start Over"), { :name => 'reset', :id => 'reset_button', :type => "reset", :class => "btn btn-default btn-animate" }) %>
      </div>
      <div id="form-progress" class="progress hide">
        <div class="progress-bar progress-bar-striped active"  role="progressbar" style="width: 100%">
          <span>Processing data...</span>
        </div>
      </div>
    <% end %>
  </div>
</div>
