<p>
  With protein analysis, you can submit a single <em>protein</em>. The application will respond with a list of all peptide records found in the protein along with a complete taxonomic lineage derived from the NCBI taxonomy. These lineages are presented as a comprehensible table and using an interactive tree view.
</p>
