<p>
  With tryptic peptide analysis, you can submit a single <em>tryptic peptide</em> that can be <em>5 to 50 residues long</em>. The application will respond with a list of all UniProtKB records wherein the peptide was found along with a complete taxonomic lineage derived from the NCBI taxonomy. These lineages are presented as a comprehensible table and using an interactive tree view.
</p>
