<h1>About Unipept</h1>
<p>The Unipept web application supports biodiversity analysis of large and complex metaproteome samples. Its underlying index structure is designed to quickly retrieve all occurrences of a tryptic peptide in UniProtKB records. Taxon-specificity of the tryptic peptide is successively derived from these occurrences using a novel lowest common ancestor approach that is robust against taxonomic misarrangements, misidentifications and inaccuracies. Not taking into account this identification noise would otherwise result in drastic loss of information. This application consists of two basic functionalities: a peptide-based taxonomic identification and a multi-peptide dynamic diversity treemap analysis.</p>

<p>More information about unipept can be found in <a href="http://dx.doi.org/10.1021/pr300576s">Unipept: tryptic peptide-based biodiversity analysis of metaproteome samples</a></p>

<div class="well">If you use Unipept for your research, please cite Mesuere et al. (2012) J. Proteome Res. <a href="http://dx.doi.org/10.1021/pr300576s" target="_blank">doi:10.1021/pr300576s</a></div>

<h2>Technology</h2>
<p>Unipept makes use of several Open Source projects:</p>
<ul>
	<li><a href="https://github.com/rails/rails">Ruby on Rails</a>: web framework</li>
	<li><a href="http://twitter.github.com/bootstrap/">Twitter bootstrap</a>: front-end framework</li>
	<li><a href="http://d3js.org/">D3.js</a>: JavaScript library for manipulating documents based on data</li>
	<li><a href="http://philogb.github.com/jit/">JavaScript InfoVis Toolkit</a>: toolkit for creating interactive data visualizations for the Web</li>
</ul>