<div class="docs">
  <div class="row">
    <div class="col-xs-6">
      <div class="card">
        <div class="card-title">
          <div class="card-logo feature-circle">
            <span class="glyphicon glyphicon-cloud"></span>
            <span class="glyphicon glyphicon-transfer"></span>
          </div>
          <h2>API Documentation</h2>
        </div>
        <div class="card-text">
          Unipept offers most of its peptide analysis features as a web service. This enables the integration of Unipept functionality into other applications and the creation of batch processing scripts. These documentation pages describe the available features of the API, how to access them and plenty examples.
        </div>
        <div class="card-action card-border">
          <a class='card-link' href='<%= api_apidocs_path %>'>Get started</a>
      </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="card">
        <div class="card-title">
          <div class="card-logo feature-terminal">
              <span class="feature-terminal-prompt">&gt;<span class="feature-terminal-flicker">_</span></span>
          </div>
          <h2>CLI Documentation</h2>
        </div>
        <div class="card-text">
          The Unipept command line interface (CLI) is a wrapper around the Unipept API that offers an easy way to integrate Unipept functionality into your data processing pipelines and scripts. These documentation pages cover installation instructions, usage, an overview of all available options and use cases.
        </div>
        <div class="card-action card-border">
          <a class='card-link' href='<%= api_clidocs_path %>'>Get started</a>
      </div>
      </div>
    </div>
  </div>
</div>
