<h1>Welcome</h1>

<div class="split">
    <div class="split-left no-border">
        <p class="intro">
            The Unipept web application supports biodiversity analysis of large and complex metaproteome samples. Its underlying index structure is designed to quickly retrieve all occurrences of a tryptic peptide in UniProtKB records. Taxon-specificity of the tryptic peptide is successively derived from these occurrences using a novel lowest common ancestor approach that is robust against taxonomic misarrangements, misidentifications and inaccuracies. Not taking into account this identification noise would otherwise result in drastic loss of information. This application consists of two basic functionalities: a peptide-based taxonomic identification and a multi-peptide dynamic diversity treemap analysis.
        </p>
    </div>
    <% unless @post.nil? %>
    <div class="split-right">
        <div id="news">
            <h2>News</h2>
            <div>
                <%= render @post, :well => false %>
                <p class="pull-right"><%= link_to '> more news', posts_path %></p>
            </div>
            <div class="visualClear"></div>
        </div>
    </div>
    <% end %>
    <div class="visualClear"></div>
</div>

<h3>Features</h3>
<div class="row features">
    <div class="col-xs-4">
        <div class="thumbnail">
            <img src="/images/404.png" alt="Single Peptide Analysis">
            <div class="caption">
                <h3>Single Peptide Analysis</h3>
                <p>This is some text.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="thumbnail">
            <img src="/images/404.png" alt="Multi-peptide Analysis">
            <div class="caption">
                <h3>Multi-peptide Analysis</h3>
                <p>This is some text.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="thumbnail">
            <img src="/images/404.png" alt="Unique Peptide Finder">
            <div class="caption">
                <h3>Unique Peptide Finder</h3>
                <p>This is some text.</p>
            </div>
        </div>
    </div>
</div>