<h1>Welcome</h1>
<p>Welcome to Unipept.</p> 
<p>Try searching for a tryptic peptide:</p>
<%= render 'shared/sequence_search' %>
<p>Testsearch:</p>
<%= render 'shared/sequence_search2' %>
<p>Or for a list of peptides:</p>
<%= render 'shared/sequence_multi_search' %>
