<h1>Welcome</h1>
<h2>Peptide search</h2>
<p>Try searching for a tryptic peptide:</p>
<%= render 'shared/sequence_search' %>
<h2>Peptide analysis</h2>
<p>Analyze a list of peptides:</p>
<%= render 'shared/sequence_multi_search' %>
