<div class="publications">

<h1>Publications</h1>
<p class="lead">This page lists all Unipept peer-reviewed journal articles in reverse-chronological order.</p>

<h2>The Unipept Metaproteomics Analysis Pipeline
<br><small>Bart Mesuere, Griet Debyser, Maarten Aerts, Bart Devreese, Peter Vandamme, and Peter Dawyndt</small></h2>
<div class="row">
    <div class="col-xs-9">
        <h3>Abstract</h3>
        <p>Unipept (<a href="http://unipept.ugent.be">http://unipept.ugent.be</a>) is a web application that offers a user-friendly way to explore the biodiversity of complex metaproteome samples by providing interactive visualizations. In this article, the updates and changes to Unipept since its initial release are presented. This includes the addition of interactive sunburst and treeview visualizations to the multipeptide analysis, the foundations of an application programming interface (API) and a command line interface, updated data sources, and the open-sourcing of the entire application under the MIT license.</p>

        <h3>Citation</h3>
        <p class="citation">
            <span class="authors">Bart Mesuere, Griet Debyser, Maarten Aerts, Bart Devreese, Peter Vandamme, and Peter Dawyndt</span><br>
            <span class="title">The Unipept Metaproteomics Analysis Pipeline</span><br>
            <span class="journal">Proteomics, 2015 - early view</span><br>
            <span class="link">
                <i class="fa fa-link"></i> <a target="_blank" href="http://dx.doi.org/10.1002/pmic.201400361">doi:10.1002/pmic.201400361</a>
            </span>
            <span class="link">
                <i class="fa fa-google"></i> <a target="_blank" href="https://scholar.google.be/scholar?cluster=4081421507601531351&hl=en&as_sdt=0,5">Google Scholar</a>
            </span>
        </p>
    </div>
    <div class="col-xs-3">
        <a href="http://dx.doi.org/10.1002/pmic.201400361" class="thumbnail">
            <img src="<%= asset_path('publications-2015.jpg') %>" alt="Publication page 1">
        </a>
    </div>
</div>

<h2>Unipept: Tryptic Peptide-Based Biodiversity Analysis of Metaproteome Samples
<br><small>Bart Mesuere, Bart Devreese, Griet Debyser, Maarten Aerts, Peter Vandamme, and Peter Dawyndt</small></h2>
<div class="row">
    <div class="col-xs-9">
        <h3>Abstract</h3>
        <p>The Unipept web application (<a href="http://unipept.ugent.be">http://unipept.ugent.be</a>) supports biodiversity analysis of large and complex metaproteome samples using tryptic peptide information obtained from shotgun MS/MS experiments. Its underlying index structure is designed to quickly retrieve all occurrences of a tryptic peptide in UniProt entries. Taxon-specificity of the tryptic peptide is successively derived from these occurrences using a novel lowest common ancestor approach that is robust against taxonomic misarrangements, misidentifications, and inaccuracies. Not taking into account this identification noise would otherwise result in drastic loss of information. Dynamic treemaps visualize the biodiversity of metaproteome samples, which eases the exploration of samples with highly complex compositions. The potential of Unipept to gain novel insights into the biodiversity of a sample is evaluated by reanalyzing publicly available metaproteome data sets taken from the bacterial phyllosphere and the human gut.</p>

        <h3>Citation</h3>
        <p class="citation">
            <span class="authors">Bart Mesuere, Bart Devreese, Griet Debyser, Maarten Aerts, Peter Vandamme, and Peter Dawyndt</span><br>
            <span class="title">Unipept: Tryptic Peptide-Based Biodiversity Analysis of Metaproteome Samples</span><br>
            <span class="journal">J. Proteome Res., 2012, 11 (12), pp 5773–5780</span><br>
            <span class="link">
                <i class="fa fa-link"></i> <a target="_blank" href="http://dx.doi.org/10.1021/pr300576s">doi:10.1021/pr300576s</a>
            </span>
            <span class="link">
                <i class="fa fa-google"></i> <a target="_blank" href="https://scholar.google.be/scholar?cluster=13083723326591523916&hl=en&as_sdt=2005&sciodt=0,5">Google Scholar</a>
            </span>
        </p>
    </div>
    <div class="col-xs-3">
        <a href="http://dx.doi.org/10.1021/pr300576s" class="thumbnail">
            <img src="<%= asset_path('publications-2012.jpg') %>" alt="Publication page 1">
        </a>
    </div>
</div>
</div>