<h1>Contact Information</h1>
<p>
  You found a bug, have an idea for an awesome new feature or just want more information? Drop us a line at <%= link_to "unipept@UGent.be", 'mailto:unipept@UGent.be' %>.<br>
  We're also on twitter: <%= link_to "@unipept", 'http://twitter.com/unipept' %>
</p>
