<div class="apidocs row">
  <div class="col-xs-9">
    <div class='page-header'>
      <h1 class='api-title'>
        <samp>umgap bestof</samp><br>
        <small>Selects the best read of every fixed size group.</small>
      </h1>
    </div>
    <p>
      <p>The <code>umgap bestof</code> command takes groups of taxon IDs as input and outputs for each group the
      taxon ID with the most non-root identifications.</p>
    </p>
    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text' id='input'>Usage</h2>
      </div>
      <div class='card-supporting-text'>
        <p>The input is given in <span class="initialism">FASTA</span> format on <em>standard input</em>. Per <span class="initialism">FASTA</span> header, there should be
        multiple numbers (taxon IDs). Per 6 <span class="initialism">FASTA</span> records (or whichever number you specify with <samp>-f</samp>),
        the best record is selected and written to <em>standard output</em>. If the input is a series of
        identified taxon IDs for each of the 6 translations of a read, the output will most likely come
        from the actual coding frame.</p>
        <pre>
<b>$</b> cat dna.fa
&gt;header1
CGCAGAGACGGGTAGAACCTCAGTAATCCGAAAAGCCGGGATCGACCGCCCCTTGCTTGCAGCCGGGCACTACAGGACCC
<b>$</b> umgap translate -n -a &lt; dna.fa | umgap prot2kmer2lca 9mer.index | tee input.fa
&gt;header1|1
9606 9606 2759 9606 9606 9606 9606 9606 9606 9606 8287
&gt;header1|2
2026807 888268 186802 1598 1883
&gt;header1|3
1883
&gt;header1|1R
27342 2759 155619 1133106 38033 2
&gt;header1|2R
&gt;header1|3R
2951
<b>$</b> umgap bestof &lt; input.fa
&gt;header1|1
9606 9606 2759 9606 9606 9606 9606 9606 9606 9606 8287
        </pre>
        <p>Taxon IDs are separated by newlines in the actual output, but are separated by spaces in this
        example.</p>
        <dl class='dl-horizontal'>
          <dt><samp>-h</samp> / <samp>--help</samp></dt><dd>Prints help information</dd>
          <dt><samp>-V</samp> / <samp>--version</samp></dt><dd>Prints version information</dd>
        </dl>
        <dl class='dl-horizontal'>
          <dt><samp>-f</samp> / <samp>--frames <em>f</em></samp></dt><dd>The number of frames of which to pick the best [default: 6]</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
