<div class="apidocs casestudies row">
  <div class="col-xs-9">
    <h1 class="api-title">Case Study: Running a preconfigured metagenomics pipeline</h1>
    <p class="lead">This case study shows how to set up and run the preconfigured scripts of the <span class="initialism">UMGAP</span> for the taxonomic analysis of a metagenomics dataset.</p>
  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
