<div class="apidocs casestudies row">
  <div class="col-xs-9">
    <h1 class='api-title'>
      <span class="initialism">UMGAP</span>
      Case Studies
    </h1>
    <p class='lead'>
      This page explores several uses of the Unipept MetaGenomics Analysis Pipeline.
    </p>
    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text'>Analysis of a metagenomics dataset</h2>
      </div>
      <div class='card-supporting-text'>
        This case study shows how to use UMGAP for the taxonomic analysis of a metagenomics dataset.
        </div>
      <div class="card-actions card-border">
        <a href='<%= api_clidocs_casestudy_metagenomics_path %>' class='btn-text pull-right'>get started</a>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
