<div class="apidocs casestudies row">
  <div class="col-xs-9">
    <h1 class="api-title">Case Study: Running a comparative analysis on 8 samples</h1>
    <p class="lead">This case study shows how to run a comparative diversity analysis on 8 metagenomics samples using <span class="initialism">UMGAP</span>.</p>

  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
