<div class="apidocs row">
  <div class="col-xs-9">
    <div class='page-header'>
      <h1 class='api-title'>
        <samp>umgap filter</samp><br>
        <small>Filters a <span class='initialism'>FASTA</span> stream of peptides.</small>
      </h1>
    </div>
    <p>The <code>umgap filter</code> command takes one or more lists of peptides as input, filters them and
    outputs the remainder.</p>
    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text' id='input'>Usage</h2>
      </div>
      <div class='card-supporting-text'>
        <p>The input is given on <em>standard input</em> in a <span class="initialism">FASTA</span> format. Per <span class="initialism">FASTA</span> header, there may be
        multiple peptides separated by newlines. Each of these peptides is checked against the requested
        criteria and written to <em>standard output</em> if it matches them. The criteria are specified as
        options.</p>
        <dl class='dl-horizontal'>
          <dt><samp>-h</samp> / <samp>--help</samp></dt><dd>Prints help information</dd>
          <dt><samp>-V</samp> / <samp>--version</samp></dt><dd>Prints version information</dd>
        </dl>
        <dl class='dl-horizontal'>
          <dt><samp>-c</samp> / <samp>--contains <em>contains</em></samp></dt><dd>The letters that a sequence must contain [none by default]</dd>
          <dt><samp>-l</samp> / <samp>--lacks <em>lacks</em></samp></dt><dd>The letters that a sequence mustn't contain [none by default]</dd>
          <dt><samp>-M</samp> / <samp>--maxlen <em>max-length</em></samp></dt><dd>Maximum length allowed [default: 50]</dd>
          <dt><samp>-m</samp> / <samp>--minlen <em>min-length</em></samp></dt><dd>Minimum length required [default: 5]</dd>
        </dl>
        <pre>
<b>$</b> cat input.fa
&gt;header1
AYKKAGVSGHVWQSDGITNCLLRGLTRVKEAVANRDSGNGYINKVYYWTVDKRATTRDALDAGVDGIMTNYPDVITDVLN
AYK
K
AGVSGHVWQSDGITNCLLR
GLTR
VK
EAVANR
DSGNGYINK
<b>$</b> umgap filter &lt; input.fa
&gt;header1
AGVSGHVWQSDGITNCLLR
EAVANR
DSGNGYINK
<b>$</b> umgap filter -m 0 -c R -l K &lt; input.fa
&gt;header1
AGVSGHVWQSDGITNCLLR
GLTR
EAVANR
        </pre>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
