<div class="apidocs row">
  <div class="col-xs-9">
    <h1 class='api-title'>
      <span class="initialism">UMGAP</span> documentation
    </h1>
    <p class='lead'>
      The Unipept Metagenomics Analysis Pipeline can analyse metagenomic samples and return a frequency table of the taxons it detected for each read. 
    </p>
    <p>
      TODO: intro
    </p>
    <p>
      The Unipept Metagenomics Analysis Pipeline is free and open-source software under the <span class='initialism'>MIT</span> License and all code is available on <a href='https://github.com/unipept/umgap' target='_blank'>Github</a>. In case you have encountered an issue using these tools, have feature requests or found a bug, don't hesitate to contact us by email (<a href='mailto:unipept@ugent.be'>unipept@ugent.be</a>), or <a href='https://github.com/unipept/umgap/issues' target='_blank'>create an issue</a> on Github.
    </p>
    <dl class='dl-horizontal'>
      <dt>umgap fastq2fasta</dt><dd>Interleaves a number of FASTQ files into a single FASTA output</dd>
      <dt>umgap translate</dt><dd>Translates DNA into Amino Acid Sequences</dd>
      <dt>umgap prot2pept</dt><dd>Splits each protein sequence in a FASTA format into a list of (tryptic) peptides</dd>
      <dt>umgap filter</dt><dd>Filter peptides in a FASTA format based on specific criteria</dd>
      <dt>umgap prot2kmer</dt><dd>Splits each protein sequence in a FASTA format into a list of kmers</dd>
      <dt>umgap pept2lca</dt><dd>Looks up each line of input in a given FST index and outputs the result. Lines starting with a '>' are copied. Lines for which no mapping is found are ignored</dd>
      <dt>umgap prot2tryp2lca</dt><dd>Reads all the records in a specified FASTA file and queries the tryptic peptides in an FST for the LCA's</dd>
      <dt>umgap prot2kmer2lca</dt><dd>Reads all the records in a specified FASTA file and queries the k-mers in an FST for the LCA's</dd>
      <dt>umgap bestof</dt><dd>Pick the frame with the most none-root hits</dd>
      <dt>umgap seedextend</dt><dd>Seed and extend</dd>
      <dt>umgap uniq</dt><dd>Concatenates the data strings of all consecutive FASTA entries with the same header</dd>
      <dt>umgap taxa2agg</dt><dd>Aggregates taxa to a single taxon</dd>
      <dt>umgap snaptaxon</dt><dd>Snap taxa to a specified rank or one of the specified taxa</dd>
      <dt>umgap report</dt><dd>Count and report on a list of taxon ids</dd>
      <dt>umgap visualize</dt><dd>Visualizes the given list of taxons using the Unipept API</dd>
      <dt>umgap taxonomy</dt><dd>Show taxonomy info</dd>
      <dt>umgap splitkmers</dt><dd>Splits each protein sequence in a CSV format into a list of kmers</dd>
      <dt>umgap joinkmers</dt><dd>Groups a CSV by equal first fields (Kmers) and aggregates the second fields (taxon ids)</dd>
      <dt>umgap buildindex</dt><dd>Write an FST index of stdin on stdout</dd>
      <dt>umgap printindex</dt><dd>Print the values in an FST index to stdout</dd>
    </dl>
    <div class='card'>
        <div class='card-title card-title-colored'>
          <h2 id="installation" class='card-title-text'>Installation</h2>
        </div>
        <div class='card-supporting-text'>
    <p>
      To use <span class='initialism'>UMGAP</span>, Rust needs to be installed on your system. We recommend the lastest version, but all versions since Rust 1.35 are supported. To check if you have the correct Ruby version installed, open a terminal and run
      <code>rustc --version</code>.
    </p>

    <pre>
<b>$</b> rustc --version
rustc 1.42.0</pre>

    <div class="apidocs-callout apidocs-callout-info">
      <h4>Installing Rust</h4>
      <p>
        If the
        <code>rustc --version</code>
        command returns
        <samp>command not found</samp>, Rust is not yet installed on your system. More information on installing Rust can be found at
        <a href='https://www.rust-lang.org/tools/install' target='_blank'>https://www.rust-lang.org/tools/install</a>.
      </p>
    </div>

    <p>
      The next step is to download the <span class='initialism'>UMGAP</span> source code. The easiest way to do this, is by cloning our git repository using <code>git clone https://github.com/unipept/umgap.git</code>. Alternatively, you can also click the download button on <a href="https://github.com/unipept/umgap" target="_blank">GitHub</a>.
    </p>

    <p>
      Next, we're ready to compile and install <span class='initialism'>UMGAP</span>. First navigate to the directory where you cloned or downloaded the code, then run <code>cargo install --path .</code>. The output should look like this:
    </p>

    <pre>
<b>$</b> cargo install --path .
 Installing umgap v0.3.5 (/Users/unipept/Downloads/umgap)
    Updating crates.io index
  Downloaded num-traits v0.2.11
  Downloaded error-chain v0.12.2
  ...
  Compiling structopt v0.3.13
  Compiling umgap v0.3.5 (/Users/bart/Downloads/umgap)
 Finished release [optimized] target(s) in 1m 50s
 Installed package `umgap v0.3.5 (/Users/unipept/Downloads/umgap)` (executable `umgap`)
 warning: be sure to add `/Users/unipept/.cargo/bin` to your PATH to be able to run the installed binaries</pre>

    <p>
      <span class='initialism'>UMGAP</span> should now be installed to the <code>~/.cargo/bin</code> directory. To access it everywhere, be sure to add it to your <code>$PATH</code>.
    </p>

    <p>
      After successful installation, the <span class='initialism'>UMGAP</span> command should be available. To check if it was installed correctly, run
      <code>umgap --version</code>. This should print the version number:
    </p>

    <pre>
<b>$</b> umgap --version
umgap 0.3.5</pre>

    <p>
      More information about the installed command can be found on these pages, or by running the
      <code>umgap --help</code>
      command.
    </p>
  </div>
</div>
<div class='card'>
    <div class='card-title card-title-colored'>
      <h2 id="updates" class='card-title-text'>Updates</h2>
    </div>
    <div class='card-supporting-text'>
    <p>
      To update <span class='initialism'>UMGAP</span>, simply repeat the install instructions and be sure to redownload the source code. The changes between releases are listed in the <a href='https://github.com/unipept/umgap/releases' target='_blank'>changelog</a>.
    </p>
</div>
</div>

<div class='card'>
    <div class='card-title card-title-colored'>
      <h2 id="configuration" class='card-title-text'>Configuration</h2>
    </div>
    <div class='card-supporting-text'>
    <p>
      If you want to use FragGeneScanPlusPlus as gene predictor, this needs to be installed as well. Instructions can be found at <a href="https://github.com/unipept/FragGeneScanPlusPlus" target="_blank">https://github.com/unipept/FragGeneScanPlusPlus</a>.
    </p>
    <p>
      Run the configuration script at <code>scripts/umgap-setup.sh</code> to interactively configure <span class='initialism'>UMGAP</span> and download the data files required for some steps of the pipeline.
    </p>
    <p>
      Depending on which type of analysis you are planning, you will need the tryptic index file (less powerfull, but runs on any decent laptop) and the 9-mer index file (uses about 100GB disk space for storage and as much RAM during operation. The exact size depends on the version.)
    </p>
    <p>
      To check if the configuration was successful, you can run a sample analysis with some include test data. The following command should show you a FASTA-like file with a taxon id per header.
    </p>
    <pre>
<b>$</b> ./scripts/umgap-analyse.sh -1 testdata/A1.fq -2 testdata/A2.fq -t tryptic-sensitivity -o - | tee output.fa</pre>
  </div>
</div>
  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
