<div class="apidocs row">
  <div class="col-xs-9">
    <div class='page-header'>
      <h1 class='api-title'>
        <samp>umgap pept2lca</samp><br>
        <small>Maps a <span class='initialism'>FASTA</span> stream of peptides to taxon IDs.</small>
      </h1>
    </div>
    <p>The <code>umgap pept2lca</code> command takes one or more amino acid sequences and looks up the
    corresponding taxon ID in an index file (as build by the <code>umgap buildindex</code> command).</p>
    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text' id='input'>Usage</h2>
      </div>
      <div class='card-supporting-text'>
        <p>The input is given in <span class="initialism">FASTA</span> format on <em>standard input</em>. Per <span class="initialism">FASTA</span> header, there can be multiple
        sequences, each on a line. In the following example we match tryptic peptides on their lowest
        common ancestor in the <span class="initialism">NCBI</span> taxonomy.</p>
        <pre>
<b>$</b> cat input.fa
&gt;header1
AAALTER
ENFVYLAK
<b>$</b> umgap pept2lca tryptic-peptides.index &lt; input.fa
&gt;header1
2
3398
        </pre>
        <p>By default, sequences not found in the index are ignored. Using the <samp>-o</samp> (<samp>--on-on-one</samp>) flag,
        they are mapped to 0, instead.</p>
        <pre>
<b>$</b> cat input.fa
&gt;header1
NOTATRYPTICPEPTIDE
ENFVYLAK
<b>$</b> umgap pept2lca -o tryptic-peptides.index &lt; input.fa
&gt;header1
0
3398
        </pre>
        <dl class='dl-horizontal'>
          <dt><samp>-m</samp> / <samp>--in-memory</samp></dt><dd>Load index in memory instead of memory mapping the file contents. This makes querying significantly faster, but requires some initialization time.</dd>
          <dt><samp>-h</samp> / <samp>--help</samp></dt><dd>Prints help information</dd>
          <dt><samp>-o</samp> / <samp>--one-on-one</samp></dt><dd>Map unknown sequences to 0 instead of ignoring them</dd>
          <dt><samp>-V</samp> / <samp>--version</samp></dt><dd>Prints version information</dd>
        </dl>
        <dl class='dl-horizontal'>
          <dt><samp>-c</samp> / <samp>--chunksize <em>c</em></samp></dt><dd>Number of reads grouped into one chunk. Bigger chunks decrease the overhead caused by multithreading. Because the output order is not necessarily the same as the input order, having a chunk size which is a multiple of 12 (all 6 translations multiplied by the two paired-end reads) will keep <span class="initialism">FASTA</span> records that originate from the same reads together [default: 240]</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
