<div class="apidocs row">
  <div class="col-xs-9">
    <div class='page-header'>
      <h1 class='api-title'>
        <samp>umgap printindex</samp><br>
        <small>Prints the key/value pairs in an index</small>
      </h1>
    </div>
    <p>Outputs in the string keys and taxon ID values in <span class="initialism">TSV</span> format, mostly for debugging purposes.</p>
    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text' id='input'>Usage</h2>
      </div>
      <div class='card-supporting-text'>
        <pre>
<b>$</b> umgap printindex tryptic.index
...
AAAAADRPANEIGGR	293089
AAAAADRPAPAGHDHQAVAR	156981
AAAAADRPASQIVR	536018
AAAAADRPE	1707
AAAAADRPEVHALALR	1883427
AAAAADRPFVAEPAR	41275
AAAAADRPIAAHAEDESLVR	33010
AAAAADRPIR	1988
AAAAADRPLAEHGGPVPR	1827
...</pre>
        <dl class='dl-horizontal'>
          <dt><samp>-h</samp> / <samp>--help</samp></dt><dd>Prints help information</dd>
          <dt><samp>-V</samp> / <samp>--version</samp></dt><dd>Prints version information</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
