<div class="apidocs row">
  <div class="col-xs-9">
    <div class='page-header'>
      <h1 class='api-title'>
        <samp>umgap seedextend</samp><br>
        <small>Selects promising regions in sequences of taxon IDs.</small>
      </h1>
    </div>
    <p>The <code>umgap seedextend</code> command takes one or more sequences of taxon IDs and selects regions of
    consecutive predictions. It can be used to filter out accidental matches of incorrect taxa.</p>
    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text' id='input'>Usage</h2>
      </div>
      <div class='card-supporting-text'>
        <p>The input is given in a <span class="initialism">FASTA</span> format on <em>standard input</em>. It should consist of taxon IDs
        separated by newlines, and the order of these taxa should reflect their location on a peptide,
        such as output by the <a href='<%= api_umgap_prot2kmer2lca_path %>'><samp>umgap prot2kmer2lca -o</samp> command</a>. As such, 3 consecutive equal IDs
        representing 9-mers, for instance, indicate a 11-mer match. This so-called seed could still be
        extended with other taxa, forming an extended seed. The command writes all taxa in any of these
        extended seeds to <em>standard output</em>.</p>
        <pre>
<b>$</b> cat dna.fa
&gt;header1
CGCAGAGACGGGTAGAACCTCAGTAATCCGAAAAGCCGGGATCGACCGCCCCTTGCTTGCAGCCGGGCACTACAGGACCC
<b>$</b> umgap translate -n -a &lt; dna.fa | umgap prot2kmer2lca 9mer.index &gt; input.fa
&gt;header1|1
9606 9606 2759 9606 9606 9606 9606 9606 9606 9606 8287
&gt;header1|2
2026807 888268 186802 1598 1883
&gt;header1|3
1883
&gt;header1|1R
27342 2759 155619 1133106 38033 2
&gt;header1|2R
&gt;header1|3R
2951
<b>$</b> umgap seedextend &lt; input.fa
&gt;header1|1
9606 9606 2759 9606 9606 9606 9606 9606 9606 9606 8287
&gt;header1|2
&gt;header1|3
&gt;header1|1R
&gt;header1|2R
&gt;header1|3R
        </pre>
        <p>Taxon IDs are separated by newlines in the actual output, but are separated by spaces in this
        example.</p>
        <p>The number of consecutive equal IDs to start a seed is 2 by default, and can be changed using
        the <samp>-s</samp> option. The maximum length of gaps between seeds to join in an extension can be set
        with <samp>-g</samp>, no gaps are allowed by default.</p>
        <p>The command can be altered to print only the extended seed with the highest score among all
        extended seeds. Pass a taxonomy using the <samp>-r taxon.tsv</samp> option to activate this. In this scored
        mode, extended seeds with gaps are given a penalty of 5, which can be made more or less severe
        (higher or lower) with the <samp>-p</samp> option.</p>
        <dl class='dl-horizontal'>
          <dt><samp>-h</samp> / <samp>--help</samp></dt><dd>Prints help information</dd>
          <dt><samp>-V</samp> / <samp>--version</samp></dt><dd>Prints version information</dd>
        </dl>
        <dl class='dl-horizontal'>
          <dt><samp>-g</samp> / <samp>--max-gap-size <em>g</em></samp></dt><dd>The maximum length of a gap between seeds in an extension [default: 0]</dd>
          <dt><samp>-s</samp> / <samp>--min-seed-size <em>s</em></samp></dt><dd>The minimum length of equal taxa to count as seed [default: 2]</dd>
          <dt><samp>-p</samp> / <samp>--penalty <em>p</em></samp></dt><dd>The score penalty for gaps in extended seeds [default: 5]</dd>
          <dt><samp>-r</samp> / <samp>--ranked <em>r</em></samp></dt><dd>Use taxon ranks in given <span class="initialism">NCBI</span> taxonomy tsv-file to pick extended seed with highest score</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
