<div class="apidocs row">
  <div class="col-xs-9">
    <div class='page-header'>
      <h1 class='api-title'>
        <samp>umgap snaptaxon</samp><br>
        <small>Snaps taxon IDs to a rank or specified taxa.</small>
      </h1>
    </div>
    <p>The <code>umgap snaptaxon</code> command takes one or more taxon IDs. For each taxon, it searches amongst
    its ancestors if any are of the specified rank (e.g., <samp>-r species</samp>), or are one of the listed
    taxa (e.g., <samp>-t 1598 -t 1883</samp>). If so, the taxon is replaced by the most specific of these
    matching taxa. Otherwise, it is mapped to the root of the taxonomy.</p>
    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text' id='input'>Usage</h2>
      </div>
      <div class='card-supporting-text'>
        <p>The input is given on <em>standard input</em> and may be any sequence of <span class="initialism">FASTA</span> headers and/or lines
        containing a single taxon ID. The <span class="initialism">FASTA</span> headers (if any) are just copied over to <em>standard
        output</em>.</p>
        <p>The taxonomy to be used is passed as an argument to this command. This is a preprocessed version
        of the <span class="initialism">NCBI</span> taxonomy.</p>
        <pre>
<b>$ cat input.fa</b>
&gt;header1
888268
186802
1598
1883
<b>$ umgap snaptaxon 2020-04-taxons.tsv -r order &lt; ~/input.fa</b>
&gt;header1
38820
186802
186826
85011
<b>$ umgap snaptaxon 2020-04-taxons.tsv -t 1239 2 &lt; ~/input.fa</b>
&gt;header1
1
1239
1239
2</pre>
        <dl class='dl-horizontal'>
          <dt><samp>-h</samp> / <samp>--help</samp></dt><dd>Prints help information</dd>
          <dt><samp>-i</samp> / <samp>--invalid</samp></dt><dd>Include the invalidated taxa from the taxonomy</dd>
          <dt><samp>-V</samp> / <samp>--version</samp></dt><dd>Prints version information</dd>
        </dl>
        <dl class='dl-horizontal'>
          <dt><samp>-r</samp> / <samp>--rank <em>r</em></samp></dt><dd>The rank to snap towards [possible values: superkingdom, kingdom, subkingdom, superphylum, phylum, subphylum, superclass, class, subclass, infraclass, superorder, order, suborder, infraorder, parvorder, superfamily, family, subfamily, tribe, subtribe, genus, subgenus, species group, species subgroup, species, subspecies, varietas, forma]</dd>
          <dt><samp>-t</samp> / <samp>--taxons <em>t...</em></samp></dt><dd>A taxon to snap towards (allow multiple times)</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
