<div class="apidocs row">
  <div class="col-xs-9">
    <div class='page-header'>
      <h1 class='api-title'>
        <samp>umgap taxa2agg</samp><br>
        <small>Aggregates taxon IDs in a <span class='initialism'>FASTA</span> stream.</small>
      </h1>
    </div>
    <p>The <code>umgap taxa2agg</code> command takes one or more lists of taxon IDs as input and aggregates them into a
    single consensus taxon.</p>
    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text' id='input'>Usage</h2>
      </div>
      <div class='card-supporting-text'>
        <p>The input is given in a <span class='initialism'>FASTA</span> format on <em>standard input</em>. Each <span class='initialism'>FASTA</span> record contains a list of
        taxon IDs, separated by newlines. The output is written to <em>standard output</em>, also in a <span class='initialism'>FASTA</span>
        format, each record containing a single taxon ID, which is the consensus taxon resulting from
        aggregation of the given list.</p>
        <p>The taxonomy to be used is passed as an argument to this command. This is a preprocessed version
        of the <span class='initialism'>NCBI</span> taxonomy.</p>
        <pre>
<b>$</b> cat input.fa
&gt;header1
571525
571525
6920
6920
1
6920
<b>$</b> umgap taxa2agg taxons.tsv &lt; input.fa
&gt;header1
571525</pre>
        <p>By default, the aggregation used is the maximum root-to-leaf path (<span class='initialism'>MRTL</span>). A variant of the
        lowest common ancestor (<span class='initialism'>LCA*</span>) aggregation is also available via the <samp>-a</samp> and <samp>-m</samp> options, as
        is a hybrid approach.</p>
        <ul>
          <li>
            <p><samp>-m rmq -a mrtl</samp> is the default aggregation strategy. It selects the taxon from the given list
            which has the highest frequency of ancestors in the list (including its own frequency). A
            range-minimum-query (<span class='initialism'>RMQ</span>) algorithm is used.</p>
          </li>
          <li>
            <p><samp>-m tree -a lca\*</samp> returns the taxon (possibly not from the list) of lowest rank without
            contradicting taxa in the list. Non-contradicting taxa of a taxon are either itself, its
            ancestors and its descendants. A tree-based algorithm is used.</p>
          </li>
          <li>
            <p><samp>-m tree -a hybrid</samp> mixes the above two strategies, which results in a taxon which might have not
            have the highest frequency of ancestors in the list, but would have less contradicting taxa.
            Use the <code>-f</code> option to select a hybrid close to the <span class='initialism'>MRTL</span>(<samp>-f 0.0</samp>) or to the <span class='initialism'>LCA</span> (<samp>-f 1.0</samp>).</p>
          </li>
        </ul>

        <dl class='dl-horizontal'>
          <dt><samp>-h</samp> / <samp>--help</samp></dt><dd>Prints help information</dd>
          <dt><samp>-r</samp> / <samp>--ranked</samp></dt><dd>Let all taxa snap to taxa with a named rank (such as species) during calculations</dd>
          <dt><samp>-s</samp> / <samp>--scored</samp></dt><dd>Each taxon is followed by a score between 0 and 1</dd>
          <dt><samp>-V</samp> / <samp>--version</samp></dt><dd>Prints version information</dd>
        </dl>
        <dl class='dl-horizontal'>
          <dt><samp>-f</samp> / <samp>--factor <em>f</em></samp></dt><dd>The factor for the hybrid aggregation, from 0.0 (<span class='initialism'>MRTL</span>) to 1.0 (<span class='initialism'>LCA*</span>) [default: 0.25]</dd>
          <dt><samp>-l</samp> / <samp>--lower-bound <em>l</em></samp></dt><dd>The smallest input frequency for a taxon to be included in the aggregation [default: 0]</dd>
          <dt><samp>-m</samp> / <samp>--method <em>m</em></samp></dt><dd>The method to use for aggregation [default: tree]  [possible values: tree, rmq]</dd>
          <dt><samp>-a</samp> / <samp>--aggregate <em>a</em></samp></dt><dd>The strategy to use for aggregation [default: hybrid]  [possible values: lca*, hybrid, mrtl]</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
