<div class="apidocs row">
  <div class="col-xs-9">
    <div class='page-header'>
      <h1 class='api-title'>
        <samp>umgap visualize</samp><br>
        <small>Visualizes a stream of taxon IDs using the <a href='<%= api_apidocs_taxa2tree_path %>'>Unipept <span class='initialism'>API</span></a>.</small>
      </h1>
    </div>
    <p>The <code>umgap visualize</code> command, similar to the <a href='<%= api_clidocs_taxa2tree_path %>'><samp>unipept taxa2tree</samp> command</a>, takes one or more
    taxon IDs as input and returns the taxonomic tree of there taxa as output. It uses the <a href='<%= api_apidocs_taxa2tree_path %>'>Unipept <span class='initialism'>API</span> server</a>.</p>
    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text' id='input'>Usage</h2>
      </div>
      <div class='card-supporting-text'>
        <p>The input is given on <em>standard input</em> in a <span class="initialism">FASTA</span> format. Per <span class="initialism">FASTA</span> header, there should be
        one taxon IDs. An <span class="initialism">HTML</span> file is written to <em>standard output</em> containing a visualization of the
        taxonomic tree containing all these taxa. With <code>-u</code>, instead a <span class="initialism">URL</span> to the visualization hosted
        online is printed.</p>
        <pre>
<b>$</b> cat input.txt
&gt;header1
817
329854
1099853
<b>$</b> umgap visualize &lt; input.txt &gt; output.html
<b>$</b> umgap visualize --url &lt; input.txt
https://bl.ocks.org/a686a37e1dcd43dd4ec7d467487bd6a1
        </pre>
        <dl class='dl-horizontal'>
          <dt><samp>-h</samp> / <samp>--help</samp></dt><dd>Prints help information</dd>
          <dt><samp>-u</samp> / <samp>--url</samp></dt><dd>Host the result online and return the <span class="initialism">URL</span></dd>
          <dt><samp>-V</samp> / <samp>--version</samp></dt><dd>Prints version information</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
