<h1>Pan and core proteome</h1>
<h2>Chart</h2>
<div id="pancore_graph"></div>

<script type="text/javascript">
	var genomes = <%= raw @genomes %>
	var pans = <%= raw @pans %> 
	var cores = <%= raw @cores %>
	$(function () {init_pancore(genomes, pans, cores);});
</script>