<h1>Pan and core proteome</h1>
<div class="split">
  <div class="split-left">
    <p class="intro">
      Select a species for which you want to analyze the proteome and click the load button.
    </p>
    <%= form_tag(:pancore_analyze, :method => "get", :class => "form-inline") do %>
    <%= select_tag(:species_id, options_for_select(@species, params[:species_id])) %>
    <%= button_tag(raw("Load"), :type => "button", :class => "btn btn-primary", :id => "load_proteome", :"data-loading-text" => "Loading...") %>
    <% end %>
  </div>

  <div class="split-right">
    <span id="table-message"><i class="icon-chevron-left"></i> Select a species to analyze and click the load button.</span>
    <table class="table table-condensed" id="genomes_table">
      <thead>
        <tr>
          <th></th>
          <th class="genome">Genome</th>
          <th class="status">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        </tr>
      </tbody>
    </table>
    <div class="visualClear"></div>
  </div>
</div>

<h2>Chart</h2>
<div id="pancore_graph"></div>

<script type="text/javascript">
  $(function () {
    if (typeof(Worker)!=="undefined") {
      init_pancore();
    } else {
      error(null, "Sorry, this page uses Web Workers, an advanced JavaScript technology that's not supported by your browser. Try using an up to date version of Google Chrome, Firefox or Internet Explorer 10.")
    }
  });
</script>