<h1>News</h1>

<%= link_to 'New Post', new_post_path, :class => "btn btn-primary" if user_signed_in? && current_user.admin? %>
<br/><br/>

<div id="posts">
    <%= render @posts, :well => true %>
</div>

<%= will_paginate @posts %>

<script type="text/javascript">
    $(function () {initPosts();});
</script>