<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class='card'>
        <div class='card-title card-title-colored'>
          <h2 class='card-title-text'>Create a new post</h2>
        </div>
        <div class='card-supporting-text'>
          <%= render 'form' %>
        </div>
        <div class="card-actions card-border">
          <%= link_to 'Back to all posts', posts_path, class: "btn-text" %>
        </div>
    </div>
  </div>
</div>
