@import "vendor.less";
@import "bootstrap_overrides.css.less";

@import "layout.css.less";
@import "utilities.css.less";

@import "home.css.less";
@import "posts.css.less";
@import "sequence_show.css.less";


/*** forms on homepage ***/
input#q {
    width: 340px;
    text-transform: uppercase;
}
div#search_button {
    margin-top: 5px;
    clear: both;
    text-align: center;
}
textarea#qs {
    text-transform: uppercase;
}
div#more_options_form {
    padding-top: 5px;
}
select.dataset {
    width: 330px !important;
}
input#pride_exp_id {
    width: 280px;
}
#form-progress {
    height: 30px;
    margin-top: 5px;
}
#form-progress .progress-bar{
    padding-top: 6px;
}

/*** multi search result page ***/
/* multi peptide page */
#buttons {
    float: right;
    margin-top: 10px;
}
#buttons button {
    margin-left: 5px;
}
#sunburst {
    width: 100%;
    background-color: white;
}
#sunburst svg {
    margin: 0 auto;
    display: block;
}
.tab-content.multi-search {
    overflow: visible;
}
h2.ghead {
    margin-bottom: 8px;
    margin-top: 3px;
    font-weight: bold;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: 13px Helvetica,arial,freesans,clean,sans-serif;
    line-height: 1.4;
    color: #333;
}
h2.ghead::after {
    content: ".";
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
span.dir {
    font-size: 12px;
    font-weight: normal;
    color: #555;
    line-height: 100%;
    float: right;
    margin-left: 5px;
}
#sunburst-info {
    margin-top: 5px;
}
.dropdown-menu-form div.checkbox {
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 10px;
}
.dropdown-menu-form div.checkbox label{
    padding-left: 0px;
}
.dropdown-menu-form div.checkbox input[type="checkbox"]{
    margin-top: 0px;
}
#colorswap .dropdown-menu {
    margin-top: 0px;
    padding-left: 15px;
    padding-top: 0px;
    min-width: 135px;
}
#treeMap {
    background-color: #DCDFE4;
    width: 100%;
    height: 600px;
}
#treeMap .node {
    color: #fff;
    font-size: 9px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    font-family: "Lucida Grande", Verdana;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#d3TreeView {
    background-color: white;
}
#multisearch_list ul {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
}
.tip {
    background-color: #ffffff;
    padding: 2px;
    border: 1px solid @hairlinegray;
    border-radius: 3px;
}
.tip-title {
    text-align:center;
}
/* treeview */
#jitTreeView {
    width: 100%;
    height: 600px;
}
/* tree */
#tree_data {
    width: 450px;
    float: right;
    padding: 5px;
    background: @gray-lighter;
    border: 1px solid #cccccc;
    border-radius: 3px;
    .transition(all 1s ease-in-out);
}
#tree_data::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    margin-left: -15px;
    border: 10px solid #cccccc;
    border-width: 10px 10px 10px 0;
    border-color: transparent #cccccc transparent transparent;
    position: absolute;
}
#tree_data h3 {
    margin: 3px 0 5px 0;
}
#tree_data h4 {
    margin: 8px 5px 0px 5px;
}
#tree_data h3 a {
    color: #666 !important;
}
#tree ul {
    padding-left: 0px;
}
#tree_search_group {
    width: 440px;
}
#outline-mismatch-tabs {
    margin-top: 10px;
    margin-bottom: 8px;
}
/*** pancore page ***/
#genome-tabs {
    margin-top: 5px;
}
/*** my genome ***/
#myGenomeProgress {
    height: 30px;
}
#myGenomeProgress .progress-bar{
    padding-top: 6px;
    max-width: 100%;
}
#my-genomes-table .handle {
    width: 30px;
}
#my-genomes-table .name {
    width: 325px;
}
#my-genomes-table .status {
    width: 30px;
}
#my-genomes-table .action {
    width: 30px;
}
#my-genomes-table tbody tr:not(.info):not(.edit):not(.old) {
    cursor: pointer;
    cursor: url(/openhand.cur), pointer;
    cursor: url(/openhand.cur) 7 5, pointer;
}

#add-by-species-form {
    padding-top: 5px;
}
#buttons-pancore {
    float: right;
}
#buttons-pancore button {
    margin-left: 5px;
}
#pancore_graph, #sim_matrix {
    background-color: white;
}
#genomes_table .handle {
    width: 30px;
}
#genomes_table .name {
    width: 325px;
}
#genomes_table .status {
    width: 30px;
}
#genomes_table .action {
    width: 30px;
}
#genomes_table {
    margin: 5px;
    width: auto;
}
#genomes_table tr.ui-sortable-helper {
    background-color: rgba(255, 255, 255, 0.8);
}
#genomes-table-div {
    .transition(margin-top 0.5s ease-in-out);
}
#genomes_table tfoot {
    display: none;
}
#genomes_table tfoot th {
    text-align: center;
}
#genomes_table.acceptDrop tfoot {
    display: table-row-group;
}
#genomes_table.acceptDrop {
    background-color: #eeeeee;
    border: 5px dashed #cccccc;
    border-collapse: separate;
    margin: 0px;
}
#genomes_table.willDrop {
    background-color: #dff0d8;
    cursor: copy;
}
#autosort .dropdown-menu {
    margin-top: 0px;
}
#genomes_table tbody tr:not(.ui-sortable-helper) {
    cursor: pointer;
    cursor: url(/openhand.cur), pointer;
    cursor: url(/openhand.cur) 7 5, pointer;
}
#pancore_graph .bar {
    cursor: pointer;
    cursor: url(/openhand.cur), pointer;
    cursor: url(/openhand.cur) 7 5, pointer;
}
#pancore_graph #trash {
    cursor: pointer;
    cursor: url(/closedhand.cur), pointer;
    cursor: url(/closedhand.cur) 7 5, pointer;
}
.popover-buttons {
    margin-top: 5px;
    min-width: 220px;
}
#download-peptides .dropdown-menu {
    margin-top: 0px;
}
#download-peptides #download-peptides-toggle {
    margin-bottom: 2px;
}
.legend {
    cursor: pointer;
}
.tab-content {
    position: relative;
}
#species_id {
    width: 315px;
}
#add_species_peptidome {
    width: 119px;
}
#pancore_graph div.tip {
    .translate3d(0, 0, 0);
}
.tab-help {
  background-color: @nav-link-hover-bg;
  min-height: 200px;
  width: 916px;
  z-index: 100;
  position: absolute;
  border: 1px solid @nav-tabs-active-link-hover-border-color;
  border-top: 0px;
  padding: 10px;
  display: none;
  .border-bottom-radius(4px);
}
.tab-help .help-icon {
  font-size: 50pt;
  margin-bottom: 0px;
}
#tabs>li.active>a:hover {
  background-color: @nav-link-hover-bg !important;
}
.nav-tabs .badge {
    padding: 2px 7px;
}

/*** sim matrix ***/
#downloadModal .buttons button {
    margin-left: 10px;
    margin-right: 10px;
}

/*** treeview ***/
.treeView {
    -moz-user-select: none;
    position: relative;
    margin-top: 5px;
    float: left;
}
.treeView.pancore {
    width: 438px;
    min-height: 10px;
}
.treeView ul {
    margin:-5px 0 0 -1.5em;
    padding:0 0 0 1.5em;
}
.treeView ul ul {
    background:asset-url('list-item-contents.png') repeat-y left;
}
.treeView li:last-child > ul {
    background-image:none;
}
.treeView li {
    margin:0;
    padding:0;
    padding-top: 5px;
    background:asset-url('list-item-root.png') no-repeat top left;
    list-style-position:inside;
    list-style-image:asset-url('button.png');
    cursor: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.treeView li.collapsibleListOpen {
    list-style-image:asset-url('button-open.png');
    cursor:pointer;
}
.treeView li.collapsibleListClosed {
    list-style-image:asset-url('button-closed.png');
    cursor:pointer;
}
.treeView li.collapsibleListClosed ul {
    display: none;
}
.treeView li li {
    background-image:asset-url('list-item.png');
    padding-left:1.5em;
}
.treeView li:last-child {
    background-image:asset-url('list-item-last.png');
}
.treeView li.root {
    background-image:none;
    list-style-type: none;
    list-style-image: none;
}
.treeView li.unmatch {
    display: none;
}
.treeView li.leaf {
    background-image:asset-url('list-item-leaf.png');
    list-style-type: none;
    list-style-image: none;
}
.treeView li.leaf:last-child {
    background-image:asset-url('list-item-last-leaf.png');
}
.treeView span.clicked {
    background: @gray-lighter !important;
    border: 1px solid #cccccc !important;
    border-radius: 3px;
}
.treeView.pancore li span {
    cursor: pointer !important;
    cursor: url(/openhand.cur), pointer !important;
    cursor: url(/openhand.cur) 7 5, pointer !important;
}
.treeView li.leaf span {
    cursor: pointer;
}
#treeSearchDiv {
    margin-bottom: 5px;
}
tbody.dragging tr {
    cursor: pointer !important;
    cursor: url(/closedhand.cur), pointer !important;
    cursor: url(/closedhand.cur) 7 5, pointer !important;
    background-color: rgba(255, 255, 255, 0.8);
}

#api-stats {
    border: none;
    width: 100%;
    height: 600px;
}
