.btn-icon {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    line-height: 32px;
    padding-left: 10px;
    transition-duration: 0.2s;
    transition-property: background-color;
}
.btn-icon:hover {
    background-color: rgba(158,158,158,.2);
}
