// All styles related to the home page

.feature .card-supporting-text {
    width: 100%;
}
.feature:hover {
    .shadow-z4();
}
.feature .click-catcher {
    width: 285px;
    height: 285px;
    position: relative;
    top: -285px;
    margin-bottom: -285px;
}
.features {
    margin-bottom: 30px;
}
.features a:hover {
    text-decoration: none;
}
.features object {
    margin-bottom: -4px;
}

.feature-documentation {
    width: 285px;
    height: 285px;
    padding-top: 20px;
}
.feature-circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 10px solid @accent-800;
    background-color: @accent-800;
    color: white;
    text-align: center;
    margin: auto;
}
.feature-circle .glyphicon {
    display: block;
}
.feature-circle .glyphicon-cloud {
    font-size: 120px;
    padding-top: 10px;
}
.feature-circle .glyphicon-transfer {
    transform: rotate(-90deg);
    font-size: 50px;
    margin-top: -20px;
    margin-left: 5px;
}
