html,
body {
    height: 100%;
    font-family: @font-family-base;
}
#page-wrapper {
    min-height: 100%;
    position: relative;
}
.header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    min-width: 940px;
    margin: 0;
    padding: 0;
    border: none;
    min-height: 44px;
    z-index: 3;
    background-color: @primary-500;
    color: #fff;
    text-shadow: 0 0 3px rgba(0,0,0,0.2);
    .shadow-z3();
}
.header-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-self: stretch;
    align-items: center;
    height: 44px;
    margin: 0;
    padding: 0 60px;
}
.header-row>* {
    flex-shrink: 0;
}
.header-title {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    padding-left: 12px;
    font-size: 22px;
    line-height: 1;
    letter-spacing: 0.02em;
    font-weight: 400;
}
.header-title a {
    color: inherit;
    text-decoration: none;
}
.header-spacer {
    flex-grow: 1;
}
.header-navigation {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 44px;
}
.header-navigation-link {
    display: block;
    color: #fff;
    line-height: 44px;
    padding: 0 12px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
}
.header-navigation-link.active {
    border-bottom: 5px solid #fff;
    margin-bottom: -5px;
    line-height: 34px;
}
.header-btn-login {
    height: 32px;
    width: 32px;
    line-height: 32px;
    padding-left: 10px;
}
a.header-navigation-link {
    color: inherit;
    text-decoration: inherit;
}
/* footer */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: left;
    flex-shrink: 0;
    width: 100%;
    min-width: 940px;
    padding: 32px;
    color: #9e9e9e;
    background-color: #424242;
    height: 115px;
}
.footer:after {
    content: '';
    display: block;
}
.footer-block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-self: stretch;
    align-items: left;
}
.footer-block>* {
    flex-shrink: 0;
}
.footer-spacer {
    flex-grow: 1;
}
.footer-links {
    text-align: right;
}
.footer-ref,
.footer-ref a {
    color: #fff;
}
.footer-links a {
    font-size: 30px;
    color: inherit;
    padding: 10px;
}
.footer-links a:hover {
    color: white;
}
.footer-version a {
    color: inherit;
}
.footer-version a:hover {
    color: white;
    text-decoration: none;
}
.container.main {
    padding-bottom: 125px;
}
.content {
    padding: 15px 12px 12px;
}

.notifications {
    bottom: 24px;
    left: 24px;
    position: fixed;
    z-index: 1000;
}
.notifications .notification {
    background-color: #323232;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12),0 2px 4px rgba(0, 0, 0, 0.24);
    color: #fff;
    display: inline-block;
    line-height: 20px;
    margin-top: 8px;
    padding: 16px;
    transition-duration: 1s;
    transition-property: transform, opacity;
    transition-timing-function: ease-out;
}
.notifications .notification-show {
    transform: translateY(200px);
    opacity: 0;
}
.notifications .notification-hide {
    opacity: 0;
}
.notification .spinner {
    width: 20px;
    height: 20px;
    float: right;
    margin-left: 10px;
    background-color: #fff;
}
