// styles for the metaproteomics analysis results page
// page intro

// tab stuff
.tab-content.multi-search {
    overflow: visible;
}
.card-supporting-text.multi-results {
    padding: 0px;
}
.full-screen .sub-navigation {
     min-width: 150%;
     z-index: 1;
     position: relative;
 }
.multi-search .buttons-single {
    margin-right: 16px;
    margin-top: -46px;
}
h2.ghead {
    margin-bottom: 8px;
    margin-top: 5px;
    margin-right: 16px;
    font-weight: bold;
    padding: 0;
    border: 0;
    font-size: 13px;
    line-height: 1.4;
    color: #333;
}
h2.ghead::after {
    content: ".";
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
span.dir {
    font-size: 12px;
    font-weight: normal;
    color: #555;
    line-height: 100%;
    float: right;
    margin-left: 5px;
}
span.dir.text {
    margin-top: 5px;
}

// tooltip
#tooltip.tip {
    position: absolute;
    z-index: 10;
    visibility: hidden;
}
.tip {
    background-color: #fff;
    padding: 5px;
    border: 1px solid @hairlinegray;
    border-radius: 2px;
    .shadow-z5();
}
.tip-title {
    text-align: center;
}

// sunburst
.sunburst {
    width: 100%;
    background-color: white;
}
.sunburst > svg {
    margin: 0 auto;
    display: block;
}
.full-screen .sunburst > svg {
    overflow: visible;
}
.sunburst .toHide {
    pointer-events: none;
}
.sunburst > svg .arc {
    cursor: pointer;
}
.sunburst > svg .arc:hover {
    fill-opacity: 0.9;
}
.dropdown-menu-form div.checkbox {
    margin-bottom: 0;
    margin-top: 5px;
    margin-left: 10px;
}
.dropdown-menu-form div.checkbox label {
    padding-left: 0;
}
.dropdown-menu-form div.checkbox input[type="checkbox"] {
    margin-top: 0;
}
.colorswap .dropdown-menu {
    margin-top: 0;
    padding-left: 15px;
    padding-top: 0;
    min-width: 135px;
}
.sunburstPanel {
    width: 176px;
    float: right;
    margin-top: 10px;
    padding-left: 5px;
}
.full-screen .sunburstPanel {
    width: 250px;
    margin-right: 10px;
}
.sunburstPanel ul {
    padding-left: 0;
    list-style: none;
}
.crumb {
    margin-bottom: 5px;
    cursor: pointer;
}
.crumb svg {
    float: left;
    margin-right: 3px;
}
.crumb p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    font-size: 14px;
}
.crumb .percentage {
    font-size: 11px;
}

// d3 treemap
.d3TreeMap {
    width: 100%;
    background-color: white;
}
.d3TreeMap svg {
    margin: 0 auto;
    display: block;
}
.d3TreeMap .node {
    font-size: 9px;
    line-height: 10px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
    text-align: center;
    text-overflow: ellipsis;
    cursor: pointer;
}
.d3TreeMap .node:hover {
    outline: 1px solid white;
}
.d3TreeMap .breadcrumbs {
    font-size: 11px;
    line-height: 20px;
    padding-left: 5px;
    font-weight: bold;
    color: white;
}
.full-screen .d3TreeMap .breadcrumbs {
    width: 100% !important;
}
.d3TreeMap .crumb {
    cursor: pointer;
}
.d3TreeMap .crumb .link:hover {
    text-decoration: underline;
}
.d3TreeMap .breadcrumbs .crumb + .crumb::before {
    content: " > ";
    cursor: default;
}

// treeview
.d3TreeView {
    background-color: white;
}
.d3TreeView svg {
    margin-bottom: -5px;
}

/* lineage tree */
.tree_data {
    width: 420px;
    float: right;
    padding: 8px;
    background: @gray-lighter;
    border: 1px solid #ccc;
    border-radius: 2px;
    .transition(all 1s ease-in-out);
    .shadow-z5();
}
.tree_data::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    margin-left: -18px;
    border: 10px solid #ccc;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ccc transparent transparent;
    position: absolute;
}
.tree_data h3 {
    line-height: 30px;
    margin: 3px 0 5px;
    color: @black-secondary;
}
.tree_data h4 {
    line-height: 25px;
    margin-left: 5px;
}
.tree_data h3 a {
    color: @black-text !important;
}
#tree ul {
    padding-left: 0;
}
#tree_search_group,
#searchtree {
    max-width: 420px;
}
