// styles related to the peptidome analysis page
// undo card padding:
#pancore_graph,
#sim_matrix {
    margin: -16px;
}
#pancore_graph svg,
#sim_matrix svg {
    margin-bottom: -5px;
}

// pancore graph
#pancore_graph {
    min-height: 600px;
    user-select: none;
}
#pancore_graph .bar {
    cursor: pointer;
    cursor: url(/openhand.cur), pointer;
    cursor: url("/openhand.cur") 7 5, pointer;
}
#pancore_graph #trash {
    cursor: pointer;
    cursor: url(/closedhand.cur), pointer;
    cursor: url("/closedhand.cur") 7 5, pointer;
}
.legend {
    cursor: pointer;
}
#pancore_graph div.tip {
    .translate3d(0, 0, 0);
}
#pancore_graph .popover-title {
    line-height: 18px;
}
.popover-buttons {
    margin-top: 5px;
    min-width: 220px;
}
#download-peptides .dropdown-menu {
    margin-top: 0;
}
#download-peptides #download-peptides-toggle {
    margin-bottom: 2px;
}
#pancore_graph,
#sim_matrix {
    background-color: white;
}

// clustering
#downloadModal .buttons button {
    margin-left: 10px;
    margin-right: 10px;
}

#sim_matrix_wrapper .ghead {
    margin-bottom: 0;
    margin-top: -5px;
    position: relative;
    top: 10px;
}
.tip .table {
    margin-bottom: 0;
}
.tip .table .fat {
    border-top-width: 2px;
}
.tip .table .num {
    text-align: right;
}
.tip .table .sim {
    text-align: center;
}

// my genomes
#myGenomeProgress {
    height: 30px;
    position: relative;
}
#myGenomeProgress .progress-text {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
#myGenomeProgress .progress-bar {
    padding-top: 6px;
    max-width: 100%;
}
#my-genomes-table .handle {
    width: 30px;
}
#my-genomes-table .name {
    width: 325px;
}
#my-genomes-table .status {
    width: 30px;
}
#my-genomes-table .action {
    width: 30px;
}
#addMyGenomeButton {
    display: block;
    margin: 10px auto 0;
}

// analyzed genomes
.genomes-table .handle {
    width: 30px;
    vertical-align: middle;
}
.genomes-table td.name {
    min-width: 325px;
    vertical-align: middle;
}
.genomes-table .status {
    width: 30px;
}
.genomes-table .action {
    width: 30px;
}
.genomes-table {
    width: 100%;
    table-layout: fixed;
}
tr.gu-mirror td {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid @table-border-color;
    cursor: pointer !important;
    cursor: url(/closedhand.cur), pointer !important;
    cursor: url("/closedhand.cur") 7 5, pointer !important;
}
tr.gu-mirror .name {
    width: 355px;
}
tr.gu-mirror .handle,
tr.gu-mirror .status,
tr.gu-mirror .button {
    width: 30px;
}
#autosort .dropdown-menu {
    margin-top: 0;
}
#genomes_table tbody tr {
    cursor: pointer;
    cursor: url(/openhand.cur), pointer;
    cursor: url("/openhand.cur") 7 5, pointer;
}
.genomeSelector {
    margin-top: 10px;
}
#genomeSelector-results {
    margin-top: 10px;
}
#genomeSelector .tokenfield {
    min-height: 68px;
}
#genomeSelector-results tr.genome {
    cursor: pointer;
}
#genomeSelector-results td {
    vertical-align: middle;
    overflow: hidden;
}
#genomeSelector-results th.name {
    text-align: center;
}
#genomeSelector-results .prev-page {
    margin-top: -5px;
    margin-right: 10px;
}
#genomeSelector-results .next-page {
    margin-top: -5px;
    margin-left: 10px;

    // visual center
    margin-right: 20px;
}
.lineage {
    font-size: 80%;
    color: #808080;
    white-space: nowrap;
}
.lineage-link,
.lineage-link:hover {
    color: #808080;
}
.token.token-taxon {
    color: @state-info-text;
    background-color: @state-info-bg;
    border-color: @state-info-border;
}
.token.token-filter {
    color: @state-success-text;
    background-color: @state-success-bg;
    border-color: @state-success-border;
}
.tokenfield .dataset-header {
    margin: 3px 15px;
    padding-bottom: 3px;
    border-bottom: 1px solid #d3d3d3;
    line-height: 30px;
}
.search-settings {
    cursor: pointer;
    user-select: none;
    color: @btn-primary-color;
    background-color: @btn-primary-bg;
    border-color: @btn-primary-border;
}
.search-settings:hover {
    background-color: darken(@btn-primary-bg, 10%);
    border-color: darken(@btn-primary-border, 12%);
}

#restore-analysis {
    margin-bottom: 8px;
}

// full screen layout
.full-screen .proteome-library {
    position: absolute;
    top: 44px;
    left: -500px;
    width: 473px;
    height: 100%;
    background-color: #fff;
    z-index: 5;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    overflow: scroll;
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-out;
}
.full-screen .proteome-library.shown {
    transform: translateX(500px);
}
.full-screen .analyzed-proteomes {
    position: absolute;
    top: 44px;
    right: -500px;
    width: 473px;
    height: 100%;
    background-color: #fff;
    z-index: 5;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    overflow: scroll;
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-out;
}
.full-screen .analyzed-proteomes.shown {
    transform: translateX(-500px);
}
