.publications {
    font-size: 14px;
}
.publications h2 {
    color: #333;
    font-weight: 500;
    border-bottom: 1px solid #EEE;
}
.citation .title {
    font-weight: bold;
}
.citation .link {
    margin-right: 10px;
}