/*** single peptide page ***/
#single-peptide-tabs .tab-content {
    margin-top: 5px;
}
#single-peptide-tabs .nav-tabs>li.active>a:hover {
    background-color: @nav-link-hover-bg !important;
}
#single-peptide-tabs .nav-tabs > li {
    margin-bottom: -2px;
}

/* Lineage tree */
#buttons-single {
    float: right;
    margin-top: -35px;
}
#buttons-single button {
    margin-left: 5px;
}

#lineageTree {
    background-color: white;
}

/* Lineage table */
#sequence_table {
    overflow: auto;
}
#sequence_table td {
    font-size: 10px;
    line-height: 1.1em;
}
#sequence_table th {
    font-size: 10px;
    color: #369;
    font-weight: bold;
}
#sequence_table a {
    color: #333;
}

.c0 {
    background: #f9f0ab;
}
.c1 {
    background: #e8e596;
}
.c2 {
    background: #f0e2a3;
}
.c3 {
    background: #ede487;
}
.c4 {
    background: #efd580;
}
.c5 {
    background: #f1cb82;
}
.c6 {
    background: #f1c298;
}
.c7 {
    background: #e8b598;
}
.c8 {
    background: #d5dda1;
}
.c9 {
    background: #c9d2b5;
}
.c10 {
    background: #aec1ad;
}
.c11 {
    background: #a7b8a8;
}
.c12 {
    background: #b49a3d;
}
.c13 {
    background: #b28647;
}
.c14 {
    background: #a97d32;
}
.c15 {
    background: #b68334;
}
.c16 {
    background: #d6a680;
}
.c17 {
    background: #dfad70;
}
.c18 {
    background: #a2765d;
}
.c19 {
    background: #9f6652;
}
.c20 {
    background: #b9763f;
}
.c21 {
    background: #bf6e5d;
}
.c22 {
    background: #af643c;
}
.c23 {
    background: #9b4c3f;
}
.c24 {
    background: #72659d;
}
.c25 {
    background: #8a6e9e;
}
.c26 {
    background: #8f5c85;
}
.c27 {
    background: #934b8b;
}
.c28 {
    background: #9d4e87;
}
.c29 {
    background: #92538c;
}

/* protein table */
table.protein-info .id,
table.protein-info .ec {
    min-width: 80px;
}
table.protein-info .organism {
    min-width: 250px;
}
table.protein-info .dropdown-menu {
    margin-top: 0;
}
