/* buttons */
.buttons-single {
    float: right;
    margin-top: -55px;
}
.buttons-single button {
    margin-left: 5px;
    .shadow-z0();
}
.buttons-single .btn-clipboard-hover {
    color: @black-text;
    background: white;
}

/* subnav botton */
.buttons-subnav {
    margin-top: -95px;
}

.tpa-tree {
    background-color: white;
}

.tpa-tree svg {
    margin: -16px -16px -32px -32px;
}

/* tables */
.sequence_table {
    overflow: auto;
    font-size: 10px;
    line-height: 1.1em;
}
.sequence_table a {
    color: #333;
}

.shorten {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
}

.c0 {
    background: #f9f0ab;
}
.c1 {
    background: #e8e596;
}
.c2 {
    background: #f0e2a3;
}
.c3 {
    background: #ede487;
}
.c4 {
    background: #efd580;
}
.c5 {
    background: #f1cb82;
}
.c6 {
    background: #f1c298;
}
.c7 {
    background: #e8b598;
}
.c8 {
    background: #d5dda1;
}
.c9 {
    background: #c9d2b5;
}
.c10 {
    background: #aec1ad;
}
.c11 {
    background: #a7b8a8;
}
.c12 {
    background: #b49a3d;
}
.c13 {
    background: #b28647;
}
.c14 {
    background: #a97d32;
}
.c15 {
    background: #b68334;
}
.c16 {
    background: #d6a680;
}
.c17 {
    background: #dfad70;
}
.c18 {
    background: #a2765d;
}
.c19 {
    background: #9f6652;
}
.c20 {
    background: #b9763f;
}
.c21 {
    background: #bf6e5d;
}
.c22 {
    background: #af643c;
}
.c23 {
    background: #9b4c3f;
}
.c24 {
    background: #72659d;
}
.c25 {
    background: #8a6e9e;
}
.c26 {
    background: #8f5c85;
}
.c27 {
    background: #934b8b;
}
.c28 {
    background: #9d4e87;
}
.c29 {
    background: #92538c;
}

/* protein table */
table.protein-info .id,
table.protein-info .ec {
    min-width: 80px;
}
table.protein-info .organism {
    min-width: 250px;
}
table.protein-info .dropdown-menu {
    margin-top: 0;
}

.sub-navigation { 
    background-color: @primary-500;
    margin-top: -16px;
    min-width: 916px;
    margin-left: -16px;
}

.nav-tabs .subnav-link {
    color: white;
    height: 40px;
    border: none;
    font-size: 14px;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    background: @primary-500;
}

.nav-tabs .subnav-link:hover {
    border-bottom: 5px solid @accent-500;
    background: @primary-500;
}

.nav-tabs li.active .subnav-link, 
.nav-tabs li.active .subnav-link:focus {
    background: @primary-500;
    color: white;
    border: none;
}
