name: Ruby

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: ruby:2.6.5
      env:
        RAILS_ENV: "test"
        DATABASE_URL: "mysql2://root:unipept@mysql:3306/unipept_test"
    services:
      mysql:
        image: mariadb
        env:
          MYSQL_DATABASE: "unipept_test"
          MYSQL_ROOT_PASSWORD: "unipept"
          MYSQL_HOST: "localhost"
    steps:
    - uses: actions/checkout@v2
    - name: Checkout submodules
      shell: bash
      run: |
        auth_header="$(git config --local --get http.https://github.com/.extraheader)"
        git submodule sync --recursive
        git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1
    - name: Install node and yarn
      run: |
        apt-get update
        apt-get -y install --no-install-recommends apt-transport-https
        curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | apt-key add -
        echo "deb https://dl.yarnpkg.com/debian/ stable main" > /etc/apt/sources.list.d/yarn.list
        curl -sL https://deb.nodesource.com/setup_12.x | bash -
        apt-get update
        apt-get -y --no-install-recommends install nodejs yarn
    - name: Install mysql
      run: |
        apt-get -y install --no-install-recommends default-mysql-client
    - name: Set up database
      run: |
        cat backend/database/structure_no_index.sql | sed 's/unipept/unipept_test/' | mysql -h mysql -u root -punipept unipept_test
    - name: Cache Ruby dependencies
      uses: actions/cache@v1
      with:
        path: /usr/local/bundle
        key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gem-
    - name: Get the Yarn cache directory
      id: yarn-cache
      run: |
        echo "::set-output name=dir::$(yarn cache dir)"
    - name: Cache Yarn dependencies
      uses: actions/cache@v1
      with:
        path: ${{ steps.yarn-cache.outputs.dir }}
        key: ${{ runner.os }}-yarn-fix-${{ hashFiles(format('{0}{1}', github.workspace, '/yarn.lock')) }}
        restore-keys: |
          ${{ runner.os }}-yarn-fix-
    - name: Cache node modules
      uses: actions/cache@v1
      with:
        path: /__w/dodona/dodona/node_modules
        key: ${{ runner.os }}-node_modules-fix-${{ hashFiles(format('{0}{1}', github.workspace, '/yarn.lock')) }}
        restore-keys: |
          ${{ runner.os }}-node_modules-fix-
    - name: Install dependencies
      run: |
        gem install bundler:2.0.2
        bundle config path
        bundle install --jobs 4 --retry 3
        yarn install
    - name: Run tests
      env:
        CI: true
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      run: |
        bundle exec rails test
  lint:
    runs-on: ubuntu-latest
    container:
      image: ruby:2.6.5
    steps:
    - uses: actions/checkout@v1
    - name: Cache Ruby dependencies
      uses: actions/cache@v1
      with:
        path: /usr/local/bundle
        key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gem-
    - name: Install dependencies
      run: |
        gem install bundler:2.0.2
        bundle config path
        bundle install --jobs 4 --retry 3
    - name: Lint with rubocop
      env:
        RAILS_ENV: "test"
      run: |
        bundle exec rubocop -c  .rubocop.yml app