<footer class="footer">
  <div class="footer-block">
    <div class="footer-ref">
      <p>
        <% if @header_class == "API" %>
            <span>Mesuere et al. (2016) Bioinformatics</span>
            <a target="_blank" href="https://doi.org/10.1093/bioinformatics/btw039">doi:10.1093/bioinformatics/btw039</a>
        <% elsif @header_class == "CLI" %>
            <span>Verschaffelt et al. (2020) Bioinformatics</span>
            <a target="_blank" href="https://doi.org/10.1093/bioinformatics/btaa553">doi.org/10.1093/bioinformatics/btaa553</a>
        <% elsif @header_class == "peptidome" %>
            <span>Mesuere et al. (2016) Proteomics</span>
            <a target="_blank" href="https://doi.org/10.1002/pmic.201600023">doi:10.1002/pmic.201600023</a>
        <% elsif @header_class == "desktop" %>
          <span>Verschaffelt et al. (2021) Journal of Proteome Research</span>
          <a href="https://doi.org/10.1021/acs.jproteome.0c00855" target="_blank">doi.org/10.1021/acs.jproteome.0c00855</a>
      <% else %>
            <span>Gurdeep Singh et al. (2019) Journal of Proteome Research</span>
            <a href="https://doi.org/10.1021/acs.jproteome.8b00716" target="_blank">doi:10.1021/acs.jproteome.8b00716</a>
        <% end %>
      </p>
    </div>
    <span class="footer-tos">
      &copy; <%= Date.today.year %> Universiteit Gent.
      <%= link_to "Terms of Service", about_path %>
    </span>
  </div>
  <div class='footer-spacer'></div>
  <div class="footer-block">
    <div class='footer-version'>
      <p class='footer-links'>
        <a href="mailto:unipept@ugent.be" title="mail us"><i class="fa fa-envelope-o"></i></a>
        <a target="_blank" href="http://twitter.com/unipept" title="find us on twitter"><i class="fa fa-twitter"></i></a>
        <a target="_blank" href="http://github.com/unipept/unipept" title="find us on github"><i class="fa fa-github"></i></a>
      </p>
      <%= link_to "Unipept " + Rails.application.config.versions[:unipept] + " using UniProt " + Rails.application.config.versions[:uniprot], posts_path %>
    </div>
  </div>
</footer>
