<footer id='footer'>
	<ul id='copyright' class='swapUnderline'>
		<li>
			<span class='byline_author'>Reactions on content</span>: <a class='byline_author' href='mailto:bart.mesuere@UGent.be'>bart.mesuere@UGent.be</a>
		</li>
		<li>© 2011 Bart Mesuere
		</li>
	</ul>
</footer>