<footer>
  <p class='copyright'>
      <span class='byline_author'>Mesuere et al. (2012) J. Proteome Res.</span>
      <a href="http://dx.doi.org/10.1021/pr300576s" target="_blank" class="byline_author">doi:10.1021/pr300576s</a>
  </p>
  <p>&copy; 2014 Universiteit Gent. </p>
  <p id="version">2.2.2</p>
</footer>
