<footer id='footer'>
	<ul id='copyright' class='swapUnderline'>
		<li>
			<span class='byline_author'>Reactions on content</span>: 
			<%= link_to "Bart.Mesuere@UGent.be", 'mailto:Bart.Mesuere@UGent.be', :class => "byline_author" %>
		</li>
		<li>&copy; 2012 Bart Mesuere</li>
	</ul>
	<p id="version">1.0</p>
</footer>
