<footer>
	<p class='copyright'>
			<span class='byline_author'>Reactions on content</span>: 
			<%= link_to "Bart.Mesuere@UGent.be", 'mailto:Bart.Mesuere@UGent.be', :class => "byline_author" %>
	</p>
	<p>&copy; 2012 Bart Mesuere</p>
	<p id="version">1.4 beta</p>
</footer>
