<footer>
    <div class="pull-left">
        <p class='copyright'>
            <span class='byline_author'>Mesuere et al. (2012) J. Proteome Res.</span>
            <a href="http://dx.doi.org/10.1021/pr300576s" target="_blank" class="byline_author">doi:10.1021/pr300576s</a>
        </p>
        <p>&copy; <%= Date.today.year %> Universiteit Gent. </p>
    </div>
    <div id="version"><p><%=Rails.application.config.versions[:unipept] %></p></div>
    <div class="external-links">
        <p>
            <a target="_blank" href="mailto:unipept@ugent.be" title="mail us"><i class="fa fa-envelope-o"></i></a>
            <a target="_blank" href="http://twitter.com/unipept" title="find us on twitter"><i class="fa fa-twitter"></i></a>
            <a target="_blank" href="http://github.com/unipept/unipept" title="find us on github"><i class="fa fa-github"></i></a>
        </p>
    </div>
</footer>
