<footer class="footer">
  <div class="footer-block">
    <div class="footer-ref">
      <p>
        <% if @header_class == "API" %>
            <span>Mesuere et al. (2016) Bioinformatics</span>
            <a target="_blank" href="https://doi.org/10.1093/bioinformatics/btw039">doi:10.1093/bioinformatics/btw039</a>
        <% elsif @header_class == "CLI" %>
            <span>Mesuere et al. (2017) Journal of Proteomics</span>
            <a target="_blank" href="https://doi.org/10.1016/j.jprot.2017.05.022">doi:10.1016/j.jprot.2017.05.022</a>
        <% elsif @header_class == "peptidome" %>
            <span>Mesuere et al. (2016) Proteomics</span>
            <a target="_blank" href="https://doi.org/10.1002/pmic.201600023">doi:10.1002/pmic.201600023</a>
        <% else %>
            <span>Gurdeep Singh et al. (2019) Journal of Proteome Research</span>
            <a href="https://doi.org/10.1021/acs.jproteome.8b00716" target="_blank">doi:10.1021/acs.jproteome.8b00716</a>
        <% end %>
      </p>
    </div>
    &copy; <%= Date.today.year %> Universiteit Gent.
  </div>
  <div class='footer-spacer'></div>
  <div class="footer-block">
    <div class='footer-version'>
      <p class='footer-links'>
        <%= image_tag("elixir_logo", height: '30') %>
        <a href="mailto:unipept@ugent.be" title="mail us"><i class="fa fa-envelope-o"></i></a>
        <a target="_blank" href="http://twitter.com/unipept" title="find us on twitter"><i class="fa fa-twitter"></i></a>
        <a target="_blank" href="http://github.com/unipept/unipept" title="find us on github"><i class="fa fa-github"></i></a>
      </p>
      <%= link_to "Unipept " + Rails.application.config.versions[:unipept] + " using UniProt " + Rails.application.config.versions[:uniprot], posts_path %>
    </div>
  </div>
</footer>
