<header id='header'>
	<div id='headerleft'>
		<h1>
			<a href='http://www.ugent.be' title='Ghent University'><img src='/images/universiteit_gent.gif' alt='Ghent University'/></a>
		</h1>
		<h2>
			<a href='http://buruli.ugent.be/'>Unipept</a>
		</h2>
	</div>
	<div id='headerright'>
		<div id='utility'></div>
	</div>
</header>