<header id='header'>
	<div id='headerleft'>
		<h1>
			<% logo = image_tag("universiteit_gent.gif", :alt => "Ghent University") %>
			<%= link_to(logo, "http://www.ugent.be", :title => "Ghent University") %>
		</h1>
		<h2>
			<%= link_to("Unipept", root_path) %>
		</h2>
	</div>
	<div id='headerright'>
		<div id="utility">
			<ul>
				<li>
					<%= link_to("Contact", contact_path, :title => "Contact") %>
				</li>
				<li class="last-child">
					<%= link_to("About", about_path, :title => "About") %>
				</li>
			</ul>
		</div>
	</div>
</header>