<nav id='navigationhome'>
	<div id='mainnav'>
		<ul>
			<li class=''>
				<%= link_to("Home", root_path) %>
			</li>
			<li class=''>
				<%= link_to("Datasets", datasets_path) %>
			</li>
			<li class=''>
				<%= link_to("About", about_path) %>
			</li>
			<li class=''>
				<%= link_to("Contact", contact_path) %>
			</li>
		</ul>
	</div>
	<div class='visualClear'></div>
</nav>