<nav id='navigationhome'>
	<div id='mainnav'>
		<ul>
			<li class=''>
				<%= link_to("Home", root_path) %>
			</li>
			<li class=''>
				<%= link_to("All sequences", sequences_path) %>
				<%= link_to("All organisms", organisms_path) %>
				<%= link_to("Datasets", datasets_path) %>
			</li>
		</ul>
	</div>
	<div class='visualClear'></div>
</nav>