<% content_for :javascripts do %>
  <%= javascript_pack_tag 'spa_sequence_show_app' %>
<% end %>

<% content_for :stylesheets do %>
  <link rel="stylesheet" href="unipept-web-components.css">
<% end %>

<div id="spa-app">
  <single-results></single-results>
</div>
