<h1><%= @sequence.sequence %></h1>
<% if @sequence.peptides.empty? %>
	<span>No organisms were found for this sequence.</span>
<% else %>
	<span>
		<%= pluralize(@sequence.peptides.count, "organism was", "organisms were") %>
		  found for this sequence.
	</span>
	<ul class="peptides">
		<% @sequence.peptides.each do |peptide| %>
			<%= render peptide.organism %>
		<% end %>
	</ul>
<% end %>